<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.AcSheetOrderMapMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.AcSheetOrderMapKey" >
    <id column="orderId" property="orderId" jdbcType="VARCHAR" />
    <id column="sheetId" property="sheetId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.corner.core.beans.AcSheetOrderMapKey" >
    delete from AcSheetOrderMap
    where orderId = #{orderId,jdbcType=VARCHAR}
      and sheetId = #{sheetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.AcSheetOrderMapKey" >
    insert into AcSheetOrderMap (orderId, sheetId)
    values (#{orderId,jdbcType=VARCHAR}, #{sheetId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.AcSheetOrderMapKey" >
    insert into AcSheetOrderMap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="sheetId != null" >
        sheetId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="sheetId != null" >
        #{sheetId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>