<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.ConfigPayMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.ConfigPay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="configId" property="configId" jdbcType="INTEGER" />
    <result column="payType" property="payType" jdbcType="TINYINT" />
    <result column="selectType" property="selectType" jdbcType="TINYINT" />
    <result column="spGroupIds" property="spGroupIds" jdbcType="VARCHAR" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, configId, payType, selectType, spGroupIds, addTime, updateTime, status, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ConfigPay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ConfigPay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.ConfigPay" >
    insert into ConfigPay (id, configId, payType, 
      selectType, spGroupIds, addTime, 
      updateTime, status, isDelete
      )
    values (#{id,jdbcType=INTEGER}, #{configId,jdbcType=INTEGER}, #{payType,jdbcType=TINYINT}, 
      #{selectType,jdbcType=TINYINT}, #{spGroupIds,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.ConfigPay" >
    insert into ConfigPay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="configId != null" >
        configId,
      </if>
      <if test="payType != null" >
        payType,
      </if>
      <if test="selectType != null" >
        selectType,
      </if>
      <if test="spGroupIds != null" >
        spGroupIds,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="configId != null" >
        #{configId,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="selectType != null" >
        #{selectType,jdbcType=TINYINT},
      </if>
      <if test="spGroupIds != null" >
        #{spGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.ConfigPay" >
    update ConfigPay
    <set >
      <if test="configId != null" >
        configId = #{configId,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        payType = #{payType,jdbcType=TINYINT},
      </if>
      <if test="selectType != null" >
        selectType = #{selectType,jdbcType=TINYINT},
      </if>
      <if test="spGroupIds != null" >
        spGroupIds = #{spGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.ConfigPay" >
    update ConfigPay
    set configId = #{configId,jdbcType=INTEGER},
      payType = #{payType,jdbcType=TINYINT},
      selectType = #{selectType,jdbcType=TINYINT},
      spGroupIds = #{spGroupIds,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>