<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.DBAppConfigMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.DBAppConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="payCfgId" property="payCfgId" jdbcType="TINYINT" />
    <result column="paywayList" property="paywayList" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, payCfgId, paywayList, status, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from DBAppConfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from DBAppConfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.DBAppConfig" >
    insert into DBAppConfig (id, name, payCfgId, 
      paywayList, status, isDelete
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{payCfgId,jdbcType=TINYINT}, 
      #{paywayList,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.DBAppConfig" >
    insert into DBAppConfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="payCfgId != null" >
        payCfgId,
      </if>
      <if test="paywayList != null" >
        paywayList,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="payCfgId != null" >
        #{payCfgId,jdbcType=TINYINT},
      </if>
      <if test="paywayList != null" >
        #{paywayList,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.DBAppConfig" >
    update DBAppConfig
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="payCfgId != null" >
        payCfgId = #{payCfgId,jdbcType=TINYINT},
      </if>
      <if test="paywayList != null" >
        paywayList = #{paywayList,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.DBAppConfig" >
    update DBAppConfig
    set name = #{name,jdbcType=VARCHAR},
      payCfgId = #{payCfgId,jdbcType=TINYINT},
      paywayList = #{paywayList,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>