<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.PlantItemMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.PlantItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="itemBaseId" property="itemBaseId" jdbcType="INTEGER" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="spId" property="spId" jdbcType="VARCHAR" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="areaPrice" property="areaPrice" jdbcType="DECIMAL" />
    <result column="plantMemPrice" property="plantMemPrice" jdbcType="DECIMAL" />
    <result column="plantDisPrice" property="plantDisPrice" jdbcType="DECIMAL" />
    <result column="maoli" property="maoli" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="ordId" property="ordId" jdbcType="INTEGER" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="tuijian" property="tuijian" jdbcType="BIT" />
    <result column="goodsStock" property="goodsStock" jdbcType="INTEGER" />
    <result column="middleStock" property="middleStock" jdbcType="INTEGER" />
    <result column="upper" property="upper" jdbcType="INTEGER" />
    <result column="lower" property="lower" jdbcType="INTEGER" />
    <result column="scInPrice" property="scInPrice" jdbcType="DECIMAL" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="clickRate" property="clickRate" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="youHui" property="youHui" jdbcType="VARCHAR" />
    <result column="restrict" property="restrict" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="stockTactic" property="stockTactic" jdbcType="INTEGER" />
    <result column="priceTactic" property="priceTactic" jdbcType="INTEGER" />
    <result column="isSKUPromotion" property="isSKUPromotion" jdbcType="INTEGER" />
    <result column="SKUProStartTime" property="SKUProStartTime" jdbcType="TIMESTAMP" />
    <result column="SKUProEndTime" property="SKUProEndTime" jdbcType="TIMESTAMP" />
    <result column="SKUProPrice" property="SKUProPrice" jdbcType="DECIMAL" />
    <result column="SKUProLimitNum" property="SKUProLimitNum" jdbcType="INTEGER" />
    <result column="SKUProTotalLimitNum" property="SKUProTotalLimitNum" jdbcType="INTEGER" />
    <result column="tagLabelId1" property="tagLabelId1" jdbcType="VARCHAR" />
    <result column="tagLabelId2" property="tagLabelId2" jdbcType="VARCHAR" />
    <result column="tagLabelId3" property="tagLabelId3" jdbcType="VARCHAR" />
    <result column="goodsType" property="goodsType" jdbcType="INTEGER" />
    <result column="warehouseId" property="warehouseId" jdbcType="VARCHAR" />
    <result column="logicStockId" property="logicStockId" jdbcType="VARCHAR" />
    <result column="logicStockTypeMg" property="logicStockTypeMg" jdbcType="TINYINT" />
    <result column="SKUPromotionId" property="SKUPromotionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemBaseId, spGroupId, spId, areaId, areaName, areaPrice, plantMemPrice, plantDisPrice, 
    maoli, fee, ordId, addTime, updateTime, tuijian, goodsStock, middleStock, upper, 
    lower, scInPrice, sales, clickRate, remark, youHui, `restrict`, status, isDelete, stockTactic, 
    priceTactic, isSKUPromotion, SKUProStartTime, SKUProEndTime, SKUProPrice, SKUProLimitNum, 
    SKUProTotalLimitNum, tagLabelId1, tagLabelId2, tagLabelId3, goodsType, warehouseId, 
    logicStockId, logicStockTypeMg, SKUPromotionId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PlantItem
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PlantItem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.PlantItem" >
    insert into PlantItem (id, itemBaseId, spGroupId, 
      spId, areaId, areaName, 
      areaPrice, plantMemPrice, plantDisPrice, 
      maoli, fee, ordId, 
      addTime, updateTime, tuijian, 
      goodsStock, middleStock, upper, 
      lower, scInPrice, sales, 
      clickRate, remark, youHui, 
      `restrict`, status, isDelete, 
      stockTactic, priceTactic, isSKUPromotion, 
      SKUProStartTime, SKUProEndTime, SKUProPrice, 
      SKUProLimitNum, SKUProTotalLimitNum, tagLabelId1, 
      tagLabelId2, tagLabelId3, goodsType, 
      warehouseId, logicStockId, logicStockTypeMg, 
      SKUPromotionId)
    values (#{id,jdbcType=VARCHAR}, #{itemBaseId,jdbcType=INTEGER}, #{spGroupId,jdbcType=INTEGER}, 
      #{spId,jdbcType=VARCHAR}, #{areaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, 
      #{areaPrice,jdbcType=DECIMAL}, #{plantMemPrice,jdbcType=DECIMAL}, #{plantDisPrice,jdbcType=DECIMAL}, 
      #{maoli,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL}, #{ordId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{tuijian,jdbcType=BIT}, 
      #{goodsStock,jdbcType=INTEGER}, #{middleStock,jdbcType=INTEGER}, #{upper,jdbcType=INTEGER}, 
      #{lower,jdbcType=INTEGER}, #{scInPrice,jdbcType=DECIMAL}, #{sales,jdbcType=INTEGER}, 
      #{clickRate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{youHui,jdbcType=VARCHAR}, 
      #{restrict,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{isDelete,jdbcType=BIT}, 
      #{stockTactic,jdbcType=INTEGER}, #{priceTactic,jdbcType=INTEGER}, #{isSKUPromotion,jdbcType=INTEGER}, 
      #{SKUProStartTime,jdbcType=TIMESTAMP}, #{SKUProEndTime,jdbcType=TIMESTAMP}, #{SKUProPrice,jdbcType=DECIMAL}, 
      #{SKUProLimitNum,jdbcType=INTEGER}, #{SKUProTotalLimitNum,jdbcType=INTEGER}, #{tagLabelId1,jdbcType=VARCHAR}, 
      #{tagLabelId2,jdbcType=VARCHAR}, #{tagLabelId3,jdbcType=VARCHAR}, #{goodsType,jdbcType=INTEGER}, 
      #{warehouseId,jdbcType=VARCHAR}, #{logicStockId,jdbcType=VARCHAR}, #{logicStockTypeMg,jdbcType=TINYINT}, 
      #{SKUPromotionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.PlantItem" >
    insert into PlantItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemBaseId != null" >
        itemBaseId,
      </if>
      <if test="spGroupId != null" >
        spGroupId,
      </if>
      <if test="spId != null" >
        spId,
      </if>
      <if test="areaId != null" >
        areaId,
      </if>
      <if test="areaName != null" >
        areaName,
      </if>
      <if test="areaPrice != null" >
        areaPrice,
      </if>
      <if test="plantMemPrice != null" >
        plantMemPrice,
      </if>
      <if test="plantDisPrice != null" >
        plantDisPrice,
      </if>
      <if test="maoli != null" >
        maoli,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="ordId != null" >
        ordId,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="tuijian != null" >
        tuijian,
      </if>
      <if test="goodsStock != null" >
        goodsStock,
      </if>
      <if test="middleStock != null" >
        middleStock,
      </if>
      <if test="upper != null" >
        upper,
      </if>
      <if test="lower != null" >
        lower,
      </if>
      <if test="scInPrice != null" >
        scInPrice,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="clickRate != null" >
        clickRate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="youHui != null" >
        youHui,
      </if>
      <if test="restrict != null" >
        `restrict`,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="stockTactic != null" >
        stockTactic,
      </if>
      <if test="priceTactic != null" >
        priceTactic,
      </if>
      <if test="isSKUPromotion != null" >
        isSKUPromotion,
      </if>
      <if test="SKUProStartTime != null" >
        SKUProStartTime,
      </if>
      <if test="SKUProEndTime != null" >
        SKUProEndTime,
      </if>
      <if test="SKUProPrice != null" >
        SKUProPrice,
      </if>
      <if test="SKUProLimitNum != null" >
        SKUProLimitNum,
      </if>
      <if test="SKUProTotalLimitNum != null" >
        SKUProTotalLimitNum,
      </if>
      <if test="tagLabelId1 != null" >
        tagLabelId1,
      </if>
      <if test="tagLabelId2 != null" >
        tagLabelId2,
      </if>
      <if test="tagLabelId3 != null" >
        tagLabelId3,
      </if>
      <if test="goodsType != null" >
        goodsType,
      </if>
      <if test="warehouseId != null" >
        warehouseId,
      </if>
      <if test="logicStockId != null" >
        logicStockId,
      </if>
      <if test="logicStockTypeMg != null" >
        logicStockTypeMg,
      </if>
      <if test="SKUPromotionId != null" >
        SKUPromotionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemBaseId != null" >
        #{itemBaseId,jdbcType=INTEGER},
      </if>
      <if test="spGroupId != null" >
        #{spGroupId,jdbcType=INTEGER},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaPrice != null" >
        #{areaPrice,jdbcType=DECIMAL},
      </if>
      <if test="plantMemPrice != null" >
        #{plantMemPrice,jdbcType=DECIMAL},
      </if>
      <if test="plantDisPrice != null" >
        #{plantDisPrice,jdbcType=DECIMAL},
      </if>
      <if test="maoli != null" >
        #{maoli,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="ordId != null" >
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tuijian != null" >
        #{tuijian,jdbcType=BIT},
      </if>
      <if test="goodsStock != null" >
        #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="middleStock != null" >
        #{middleStock,jdbcType=INTEGER},
      </if>
      <if test="upper != null" >
        #{upper,jdbcType=INTEGER},
      </if>
      <if test="lower != null" >
        #{lower,jdbcType=INTEGER},
      </if>
      <if test="scInPrice != null" >
        #{scInPrice,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="clickRate != null" >
        #{clickRate,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="youHui != null" >
        #{youHui,jdbcType=VARCHAR},
      </if>
      <if test="restrict != null" >
        #{restrict,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="stockTactic != null" >
        #{stockTactic,jdbcType=INTEGER},
      </if>
      <if test="priceTactic != null" >
        #{priceTactic,jdbcType=INTEGER},
      </if>
      <if test="isSKUPromotion != null" >
        #{isSKUPromotion,jdbcType=INTEGER},
      </if>
      <if test="SKUProStartTime != null" >
        #{SKUProStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="SKUProEndTime != null" >
        #{SKUProEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="SKUProPrice != null" >
        #{SKUProPrice,jdbcType=DECIMAL},
      </if>
      <if test="SKUProLimitNum != null" >
        #{SKUProLimitNum,jdbcType=INTEGER},
      </if>
      <if test="SKUProTotalLimitNum != null" >
        #{SKUProTotalLimitNum,jdbcType=INTEGER},
      </if>
      <if test="tagLabelId1 != null" >
        #{tagLabelId1,jdbcType=VARCHAR},
      </if>
      <if test="tagLabelId2 != null" >
        #{tagLabelId2,jdbcType=VARCHAR},
      </if>
      <if test="tagLabelId3 != null" >
        #{tagLabelId3,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="logicStockId != null" >
        #{logicStockId,jdbcType=VARCHAR},
      </if>
      <if test="logicStockTypeMg != null" >
        #{logicStockTypeMg,jdbcType=TINYINT},
      </if>
      <if test="SKUPromotionId != null" >
        #{SKUPromotionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.PlantItem" >
    update PlantItem
    <set >
      <if test="itemBaseId != null" >
        itemBaseId = #{itemBaseId,jdbcType=INTEGER},
      </if>
      <if test="spGroupId != null" >
        spGroupId = #{spGroupId,jdbcType=INTEGER},
      </if>
      <if test="spId != null" >
        spId = #{spId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        areaId = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        areaName = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="areaPrice != null" >
        areaPrice = #{areaPrice,jdbcType=DECIMAL},
      </if>
      <if test="plantMemPrice != null" >
        plantMemPrice = #{plantMemPrice,jdbcType=DECIMAL},
      </if>
      <if test="plantDisPrice != null" >
        plantDisPrice = #{plantDisPrice,jdbcType=DECIMAL},
      </if>
      <if test="maoli != null" >
        maoli = #{maoli,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="ordId != null" >
        ordId = #{ordId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tuijian != null" >
        tuijian = #{tuijian,jdbcType=BIT},
      </if>
      <if test="goodsStock != null" >
        goodsStock = #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="middleStock != null" >
        middleStock = #{middleStock,jdbcType=INTEGER},
      </if>
      <if test="upper != null" >
        upper = #{upper,jdbcType=INTEGER},
      </if>
      <if test="lower != null" >
        lower = #{lower,jdbcType=INTEGER},
      </if>
      <if test="scInPrice != null" >
        scInPrice = #{scInPrice,jdbcType=DECIMAL},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="clickRate != null" >
        clickRate = #{clickRate,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="youHui != null" >
        youHui = #{youHui,jdbcType=VARCHAR},
      </if>
      <if test="restrict != null" >
        `restrict` = #{restrict,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="stockTactic != null" >
        stockTactic = #{stockTactic,jdbcType=INTEGER},
      </if>
      <if test="priceTactic != null" >
        priceTactic = #{priceTactic,jdbcType=INTEGER},
      </if>
      <if test="isSKUPromotion != null" >
        isSKUPromotion = #{isSKUPromotion,jdbcType=INTEGER},
      </if>
      <if test="SKUProStartTime != null" >
        SKUProStartTime = #{SKUProStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="SKUProEndTime != null" >
        SKUProEndTime = #{SKUProEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="SKUProPrice != null" >
        SKUProPrice = #{SKUProPrice,jdbcType=DECIMAL},
      </if>
      <if test="SKUProLimitNum != null" >
        SKUProLimitNum = #{SKUProLimitNum,jdbcType=INTEGER},
      </if>
      <if test="SKUProTotalLimitNum != null" >
        SKUProTotalLimitNum = #{SKUProTotalLimitNum,jdbcType=INTEGER},
      </if>
      <if test="tagLabelId1 != null" >
        tagLabelId1 = #{tagLabelId1,jdbcType=VARCHAR},
      </if>
      <if test="tagLabelId2 != null" >
        tagLabelId2 = #{tagLabelId2,jdbcType=VARCHAR},
      </if>
      <if test="tagLabelId3 != null" >
        tagLabelId3 = #{tagLabelId3,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goodsType = #{goodsType,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        warehouseId = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="logicStockId != null" >
        logicStockId = #{logicStockId,jdbcType=VARCHAR},
      </if>
      <if test="logicStockTypeMg != null" >
        logicStockTypeMg = #{logicStockTypeMg,jdbcType=TINYINT},
      </if>
      <if test="SKUPromotionId != null" >
        SKUPromotionId = #{SKUPromotionId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.PlantItem" >
    update PlantItem
    set itemBaseId = #{itemBaseId,jdbcType=INTEGER},
      spGroupId = #{spGroupId,jdbcType=INTEGER},
      spId = #{spId,jdbcType=VARCHAR},
      areaId = #{areaId,jdbcType=INTEGER},
      areaName = #{areaName,jdbcType=VARCHAR},
      areaPrice = #{areaPrice,jdbcType=DECIMAL},
      plantMemPrice = #{plantMemPrice,jdbcType=DECIMAL},
      plantDisPrice = #{plantDisPrice,jdbcType=DECIMAL},
      maoli = #{maoli,jdbcType=DECIMAL},
      fee = #{fee,jdbcType=DECIMAL},
      ordId = #{ordId,jdbcType=INTEGER},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      tuijian = #{tuijian,jdbcType=BIT},
      goodsStock = #{goodsStock,jdbcType=INTEGER},
      middleStock = #{middleStock,jdbcType=INTEGER},
      upper = #{upper,jdbcType=INTEGER},
      lower = #{lower,jdbcType=INTEGER},
      scInPrice = #{scInPrice,jdbcType=DECIMAL},
      sales = #{sales,jdbcType=INTEGER},
      clickRate = #{clickRate,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      youHui = #{youHui,jdbcType=VARCHAR},
      `restrict` = #{restrict,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT},
      stockTactic = #{stockTactic,jdbcType=INTEGER},
      priceTactic = #{priceTactic,jdbcType=INTEGER},
      isSKUPromotion = #{isSKUPromotion,jdbcType=INTEGER},
      SKUProStartTime = #{SKUProStartTime,jdbcType=TIMESTAMP},
      SKUProEndTime = #{SKUProEndTime,jdbcType=TIMESTAMP},
      SKUProPrice = #{SKUProPrice,jdbcType=DECIMAL},
      SKUProLimitNum = #{SKUProLimitNum,jdbcType=INTEGER},
      SKUProTotalLimitNum = #{SKUProTotalLimitNum,jdbcType=INTEGER},
      tagLabelId1 = #{tagLabelId1,jdbcType=VARCHAR},
      tagLabelId2 = #{tagLabelId2,jdbcType=VARCHAR},
      tagLabelId3 = #{tagLabelId3,jdbcType=VARCHAR},
      goodsType = #{goodsType,jdbcType=INTEGER},
      warehouseId = #{warehouseId,jdbcType=VARCHAR},
      logicStockId = #{logicStockId,jdbcType=VARCHAR},
      logicStockTypeMg = #{logicStockTypeMg,jdbcType=TINYINT},
      SKUPromotionId = #{SKUPromotionId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>