<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.ScmsGroupMapMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.ScmsGroupMapKey" >
    <id column="groupId" property="groupId" jdbcType="INTEGER" />
    <id column="managerId" property="managerId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.corner.core.beans.ScmsGroupMapKey" >
    delete from ScmsGroupMap
    where groupId = #{groupId,jdbcType=INTEGER}
      and managerId = #{managerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.ScmsGroupMapKey" >
    insert into ScmsGroupMap (groupId, managerId)
    values (#{groupId,jdbcType=INTEGER}, #{managerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.ScmsGroupMapKey" >
    insert into ScmsGroupMap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        groupId,
      </if>
      <if test="managerId != null" >
        managerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>