<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.ScOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.ScOrderInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pId" property="pId" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="maOrderInfoId" property="maOrderInfoId" jdbcType="VARCHAR" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="orderPrice" property="orderPrice" jdbcType="DECIMAL" />
    <result column="goodsPrice" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="markePrice" property="markePrice" jdbcType="DECIMAL" />
    <result column="outOfPrice" property="outOfPrice" jdbcType="DECIMAL" />
    <result column="rebate" property="rebate" jdbcType="DECIMAL" />
    <result column="coupon" property="coupon" jdbcType="DECIMAL" />
    <result column="couponId" property="couponId" jdbcType="VARCHAR" />
    <result column="kfId" property="kfId" jdbcType="VARCHAR" />
    <result column="kfName" property="kfName" jdbcType="VARCHAR" />
    <result column="kfnote" property="kfnote" jdbcType="VARCHAR" />
    <result column="kfStatus" property="kfStatus" jdbcType="TINYINT" />
    <result column="kfCheckTime" property="kfCheckTime" jdbcType="TIMESTAMP" />
    <result column="supplierId" property="supplierId" jdbcType="VARCHAR" />
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplierRemark" property="supplierRemark" jdbcType="VARCHAR" />
    <result column="groupId" property="groupId" jdbcType="INTEGER" />
    <result column="groupName" property="groupName" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="userTel" property="userTel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="evaluation" property="evaluation" jdbcType="TINYINT" />
    <result column="supportStatus" property="supportStatus" jdbcType="TINYINT" />
    <result column="supportmetho" property="supportmetho" jdbcType="TINYINT" />
    <result column="supportTime" property="supportTime" jdbcType="TIMESTAMP" />
    <result column="ordertype" property="ordertype" jdbcType="TINYINT" />
    <result column="closemsg" property="closemsg" jdbcType="VARCHAR" />
    <result column="gaveTime" property="gaveTime" jdbcType="TIMESTAMP" />
    <result column="managerId" property="managerId" jdbcType="VARCHAR" />
    <result column="managerTel" property="managerTel" jdbcType="VARCHAR" />
    <result column="managerName" property="managerName" jdbcType="VARCHAR" />
    <result column="spStatus" property="spStatus" jdbcType="TINYINT" />
    <result column="spRemark" property="spRemark" jdbcType="VARCHAR" />
    <result column="spCheckTime" property="spCheckTime" jdbcType="TIMESTAMP" />
    <result column="printTime" property="printTime" jdbcType="TIMESTAMP" />
    <result column="deliveryTime" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="getOrderTime" property="getOrderTime" jdbcType="TIMESTAMP" />
    <result column="ackTime" property="ackTime" jdbcType="TIMESTAMP" />
    <result column="ackCode" property="ackCode" jdbcType="SMALLINT" />
    <result column="isStar" property="isStar" jdbcType="TINYINT" />
    <result column="sendDate" property="sendDate" jdbcType="DATE" />
    <result column="fistTime" property="fistTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="qrcodeurl" property="qrcodeurl" jdbcType="VARCHAR" />
    <result column="isRemind" property="isRemind" jdbcType="TINYINT" />
    <result column="zmaoli" property="zmaoli" jdbcType="DECIMAL" />
    <result column="zfee" property="zfee" jdbcType="DECIMAL" />
    <result column="warehouseId" property="warehouseId" jdbcType="VARCHAR" />
    <result column="warehouseName" property="warehouseName" jdbcType="VARCHAR" />
    <result column="warehouseTime" property="warehouseTime" jdbcType="TIMESTAMP" />
    <result column="forWxTradeNo" property="forWxTradeNo" jdbcType="VARCHAR" />
    <result column="acId" property="acId" jdbcType="VARCHAR" />
    <result column="acStatus" property="acStatus" jdbcType="INTEGER" />
    <result column="acRemark" property="acRemark" jdbcType="VARCHAR" />
    <result column="acCheckTime" property="acCheckTime" jdbcType="TIMESTAMP" />
    <result column="acSettleTime" property="acSettleTime" jdbcType="TIMESTAMP" />
    <result column="acPayTime" property="acPayTime" jdbcType="TIMESTAMP" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="jsType" property="jsType" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="balandeId" property="balandeId" jdbcType="BIGINT" />
    <result column="balanceUsedNum" property="balanceUsedNum" jdbcType="DECIMAL" />
    <result column="isUsedBalance" property="isUsedBalance" jdbcType="BIT" />
    <result column="tradeNo" property="tradeNo" jdbcType="VARCHAR" />
    <result column="thirdPaymentNum" property="thirdPaymentNum" jdbcType="DECIMAL" />
    <result column="thirdPayRealNum" property="thirdPayRealNum" jdbcType="DECIMAL" />
    <result column="thirdPayFee" property="thirdPayFee" jdbcType="DECIMAL" />
    <result column="dfFee" property="dfFee" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pId, orderId, maOrderInfoId, addTime, orderPrice, goodsPrice, markePrice, outOfPrice, 
    rebate, coupon, couponId, kfId, kfName, kfnote, kfStatus, kfCheckTime, supplierId, 
    supplierName, supplierRemark, groupId, groupName, consignee, mobile, userTel, address, 
    status, evaluation, supportStatus, supportmetho, supportTime, ordertype, closemsg, 
    gaveTime, managerId, managerTel, managerName, spStatus, spRemark, spCheckTime, printTime, 
    deliveryTime, getOrderTime, ackTime, ackCode, isStar, sendDate, fistTime, endTime, 
    qrcodeurl, isRemind, zmaoli, zfee, warehouseId, warehouseName, warehouseTime, forWxTradeNo, 
    acId, acStatus, acRemark, acCheckTime, acSettleTime, acPayTime, level, freight, jsType, 
    isDelete, balandeId, balanceUsedNum, isUsedBalance, tradeNo, thirdPaymentNum, thirdPayRealNum, 
    thirdPayFee, dfFee
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ScOrderInfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ScOrderInfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.ScOrderInfo" >
    insert into ScOrderInfo (id, pId, orderId, 
      maOrderInfoId, addTime, orderPrice, 
      goodsPrice, markePrice, outOfPrice, 
      rebate, coupon, couponId, 
      kfId, kfName, kfnote, 
      kfStatus, kfCheckTime, supplierId, 
      supplierName, supplierRemark, groupId, 
      groupName, consignee, mobile, 
      userTel, address, status, 
      evaluation, supportStatus, supportmetho, 
      supportTime, ordertype, closemsg, 
      gaveTime, managerId, managerTel, 
      managerName, spStatus, spRemark, 
      spCheckTime, printTime, deliveryTime, 
      getOrderTime, ackTime, ackCode, 
      isStar, sendDate, fistTime, 
      endTime, qrcodeurl, isRemind, 
      zmaoli, zfee, warehouseId, 
      warehouseName, warehouseTime, forWxTradeNo, 
      acId, acStatus, acRemark, 
      acCheckTime, acSettleTime, acPayTime, 
      level, freight, jsType, 
      isDelete, balandeId, balanceUsedNum, 
      isUsedBalance, tradeNo, thirdPaymentNum, 
      thirdPayRealNum, thirdPayFee, dfFee
      )
    values (#{id,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{maOrderInfoId,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{orderPrice,jdbcType=DECIMAL}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{markePrice,jdbcType=DECIMAL}, #{outOfPrice,jdbcType=DECIMAL}, 
      #{rebate,jdbcType=DECIMAL}, #{coupon,jdbcType=DECIMAL}, #{couponId,jdbcType=VARCHAR}, 
      #{kfId,jdbcType=VARCHAR}, #{kfName,jdbcType=VARCHAR}, #{kfnote,jdbcType=VARCHAR}, 
      #{kfStatus,jdbcType=TINYINT}, #{kfCheckTime,jdbcType=TIMESTAMP}, #{supplierId,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{supplierRemark,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER}, 
      #{groupName,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{userTel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{evaluation,jdbcType=TINYINT}, #{supportStatus,jdbcType=TINYINT}, #{supportmetho,jdbcType=TINYINT}, 
      #{supportTime,jdbcType=TIMESTAMP}, #{ordertype,jdbcType=TINYINT}, #{closemsg,jdbcType=VARCHAR}, 
      #{gaveTime,jdbcType=TIMESTAMP}, #{managerId,jdbcType=VARCHAR}, #{managerTel,jdbcType=VARCHAR}, 
      #{managerName,jdbcType=VARCHAR}, #{spStatus,jdbcType=TINYINT}, #{spRemark,jdbcType=VARCHAR}, 
      #{spCheckTime,jdbcType=TIMESTAMP}, #{printTime,jdbcType=TIMESTAMP}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{getOrderTime,jdbcType=TIMESTAMP}, #{ackTime,jdbcType=TIMESTAMP}, #{ackCode,jdbcType=SMALLINT}, 
      #{isStar,jdbcType=TINYINT}, #{sendDate,jdbcType=DATE}, #{fistTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{qrcodeurl,jdbcType=VARCHAR}, #{isRemind,jdbcType=TINYINT}, 
      #{zmaoli,jdbcType=DECIMAL}, #{zfee,jdbcType=DECIMAL}, #{warehouseId,jdbcType=VARCHAR}, 
      #{warehouseName,jdbcType=VARCHAR}, #{warehouseTime,jdbcType=TIMESTAMP}, #{forWxTradeNo,jdbcType=VARCHAR}, 
      #{acId,jdbcType=VARCHAR}, #{acStatus,jdbcType=INTEGER}, #{acRemark,jdbcType=VARCHAR}, 
      #{acCheckTime,jdbcType=TIMESTAMP}, #{acSettleTime,jdbcType=TIMESTAMP}, #{acPayTime,jdbcType=TIMESTAMP}, 
      #{level,jdbcType=TINYINT}, #{freight,jdbcType=DECIMAL}, #{jsType,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=BIT}, #{balandeId,jdbcType=BIGINT}, #{balanceUsedNum,jdbcType=DECIMAL}, 
      #{isUsedBalance,jdbcType=BIT}, #{tradeNo,jdbcType=VARCHAR}, #{thirdPaymentNum,jdbcType=DECIMAL}, 
      #{thirdPayRealNum,jdbcType=DECIMAL}, #{thirdPayFee,jdbcType=DECIMAL}, #{dfFee,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.ScOrderInfo" >
    insert into ScOrderInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pId != null" >
        pId,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="maOrderInfoId != null" >
        maOrderInfoId,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="orderPrice != null" >
        orderPrice,
      </if>
      <if test="goodsPrice != null" >
        goodsPrice,
      </if>
      <if test="markePrice != null" >
        markePrice,
      </if>
      <if test="outOfPrice != null" >
        outOfPrice,
      </if>
      <if test="rebate != null" >
        rebate,
      </if>
      <if test="coupon != null" >
        coupon,
      </if>
      <if test="couponId != null" >
        couponId,
      </if>
      <if test="kfId != null" >
        kfId,
      </if>
      <if test="kfName != null" >
        kfName,
      </if>
      <if test="kfnote != null" >
        kfnote,
      </if>
      <if test="kfStatus != null" >
        kfStatus,
      </if>
      <if test="kfCheckTime != null" >
        kfCheckTime,
      </if>
      <if test="supplierId != null" >
        supplierId,
      </if>
      <if test="supplierName != null" >
        supplierName,
      </if>
      <if test="supplierRemark != null" >
        supplierRemark,
      </if>
      <if test="groupId != null" >
        groupId,
      </if>
      <if test="groupName != null" >
        groupName,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="userTel != null" >
        userTel,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="evaluation != null" >
        evaluation,
      </if>
      <if test="supportStatus != null" >
        supportStatus,
      </if>
      <if test="supportmetho != null" >
        supportmetho,
      </if>
      <if test="supportTime != null" >
        supportTime,
      </if>
      <if test="ordertype != null" >
        ordertype,
      </if>
      <if test="closemsg != null" >
        closemsg,
      </if>
      <if test="gaveTime != null" >
        gaveTime,
      </if>
      <if test="managerId != null" >
        managerId,
      </if>
      <if test="managerTel != null" >
        managerTel,
      </if>
      <if test="managerName != null" >
        managerName,
      </if>
      <if test="spStatus != null" >
        spStatus,
      </if>
      <if test="spRemark != null" >
        spRemark,
      </if>
      <if test="spCheckTime != null" >
        spCheckTime,
      </if>
      <if test="printTime != null" >
        printTime,
      </if>
      <if test="deliveryTime != null" >
        deliveryTime,
      </if>
      <if test="getOrderTime != null" >
        getOrderTime,
      </if>
      <if test="ackTime != null" >
        ackTime,
      </if>
      <if test="ackCode != null" >
        ackCode,
      </if>
      <if test="isStar != null" >
        isStar,
      </if>
      <if test="sendDate != null" >
        sendDate,
      </if>
      <if test="fistTime != null" >
        fistTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="qrcodeurl != null" >
        qrcodeurl,
      </if>
      <if test="isRemind != null" >
        isRemind,
      </if>
      <if test="zmaoli != null" >
        zmaoli,
      </if>
      <if test="zfee != null" >
        zfee,
      </if>
      <if test="warehouseId != null" >
        warehouseId,
      </if>
      <if test="warehouseName != null" >
        warehouseName,
      </if>
      <if test="warehouseTime != null" >
        warehouseTime,
      </if>
      <if test="forWxTradeNo != null" >
        forWxTradeNo,
      </if>
      <if test="acId != null" >
        acId,
      </if>
      <if test="acStatus != null" >
        acStatus,
      </if>
      <if test="acRemark != null" >
        acRemark,
      </if>
      <if test="acCheckTime != null" >
        acCheckTime,
      </if>
      <if test="acSettleTime != null" >
        acSettleTime,
      </if>
      <if test="acPayTime != null" >
        acPayTime,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="jsType != null" >
        jsType,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="balandeId != null" >
        balandeId,
      </if>
      <if test="balanceUsedNum != null" >
        balanceUsedNum,
      </if>
      <if test="isUsedBalance != null" >
        isUsedBalance,
      </if>
      <if test="tradeNo != null" >
        tradeNo,
      </if>
      <if test="thirdPaymentNum != null" >
        thirdPaymentNum,
      </if>
      <if test="thirdPayRealNum != null" >
        thirdPayRealNum,
      </if>
      <if test="thirdPayFee != null" >
        thirdPayFee,
      </if>
      <if test="dfFee != null" >
        dfFee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="maOrderInfoId != null" >
        #{maOrderInfoId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="markePrice != null" >
        #{markePrice,jdbcType=DECIMAL},
      </if>
      <if test="outOfPrice != null" >
        #{outOfPrice,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null" >
        #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="coupon != null" >
        #{coupon,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="kfId != null" >
        #{kfId,jdbcType=VARCHAR},
      </if>
      <if test="kfName != null" >
        #{kfName,jdbcType=VARCHAR},
      </if>
      <if test="kfnote != null" >
        #{kfnote,jdbcType=VARCHAR},
      </if>
      <if test="kfStatus != null" >
        #{kfStatus,jdbcType=TINYINT},
      </if>
      <if test="kfCheckTime != null" >
        #{kfCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierRemark != null" >
        #{supplierRemark,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="evaluation != null" >
        #{evaluation,jdbcType=TINYINT},
      </if>
      <if test="supportStatus != null" >
        #{supportStatus,jdbcType=TINYINT},
      </if>
      <if test="supportmetho != null" >
        #{supportmetho,jdbcType=TINYINT},
      </if>
      <if test="supportTime != null" >
        #{supportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=TINYINT},
      </if>
      <if test="closemsg != null" >
        #{closemsg,jdbcType=VARCHAR},
      </if>
      <if test="gaveTime != null" >
        #{gaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="managerTel != null" >
        #{managerTel,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="spStatus != null" >
        #{spStatus,jdbcType=TINYINT},
      </if>
      <if test="spRemark != null" >
        #{spRemark,jdbcType=VARCHAR},
      </if>
      <if test="spCheckTime != null" >
        #{spCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printTime != null" >
        #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="getOrderTime != null" >
        #{getOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ackTime != null" >
        #{ackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ackCode != null" >
        #{ackCode,jdbcType=SMALLINT},
      </if>
      <if test="isStar != null" >
        #{isStar,jdbcType=TINYINT},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=DATE},
      </if>
      <if test="fistTime != null" >
        #{fistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrcodeurl != null" >
        #{qrcodeurl,jdbcType=VARCHAR},
      </if>
      <if test="isRemind != null" >
        #{isRemind,jdbcType=TINYINT},
      </if>
      <if test="zmaoli != null" >
        #{zmaoli,jdbcType=DECIMAL},
      </if>
      <if test="zfee != null" >
        #{zfee,jdbcType=DECIMAL},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseTime != null" >
        #{warehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="forWxTradeNo != null" >
        #{forWxTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="acId != null" >
        #{acId,jdbcType=VARCHAR},
      </if>
      <if test="acStatus != null" >
        #{acStatus,jdbcType=INTEGER},
      </if>
      <if test="acRemark != null" >
        #{acRemark,jdbcType=VARCHAR},
      </if>
      <if test="acCheckTime != null" >
        #{acCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acSettleTime != null" >
        #{acSettleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acPayTime != null" >
        #{acPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="jsType != null" >
        #{jsType,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="balandeId != null" >
        #{balandeId,jdbcType=BIGINT},
      </if>
      <if test="balanceUsedNum != null" >
        #{balanceUsedNum,jdbcType=DECIMAL},
      </if>
      <if test="isUsedBalance != null" >
        #{isUsedBalance,jdbcType=BIT},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdPaymentNum != null" >
        #{thirdPaymentNum,jdbcType=DECIMAL},
      </if>
      <if test="thirdPayRealNum != null" >
        #{thirdPayRealNum,jdbcType=DECIMAL},
      </if>
      <if test="thirdPayFee != null" >
        #{thirdPayFee,jdbcType=DECIMAL},
      </if>
      <if test="dfFee != null" >
        #{dfFee,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.ScOrderInfo" >
    update ScOrderInfo
    <set >
      <if test="pId != null" >
        pId = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="maOrderInfoId != null" >
        maOrderInfoId = #{maOrderInfoId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderPrice != null" >
        orderPrice = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null" >
        goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="markePrice != null" >
        markePrice = #{markePrice,jdbcType=DECIMAL},
      </if>
      <if test="outOfPrice != null" >
        outOfPrice = #{outOfPrice,jdbcType=DECIMAL},
      </if>
      <if test="rebate != null" >
        rebate = #{rebate,jdbcType=DECIMAL},
      </if>
      <if test="coupon != null" >
        coupon = #{coupon,jdbcType=DECIMAL},
      </if>
      <if test="couponId != null" >
        couponId = #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="kfId != null" >
        kfId = #{kfId,jdbcType=VARCHAR},
      </if>
      <if test="kfName != null" >
        kfName = #{kfName,jdbcType=VARCHAR},
      </if>
      <if test="kfnote != null" >
        kfnote = #{kfnote,jdbcType=VARCHAR},
      </if>
      <if test="kfStatus != null" >
        kfStatus = #{kfStatus,jdbcType=TINYINT},
      </if>
      <if test="kfCheckTime != null" >
        kfCheckTime = #{kfCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierId != null" >
        supplierId = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null" >
        supplierName = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierRemark != null" >
        supplierRemark = #{supplierRemark,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        groupId = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        consignee = #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null" >
        userTel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="evaluation != null" >
        evaluation = #{evaluation,jdbcType=TINYINT},
      </if>
      <if test="supportStatus != null" >
        supportStatus = #{supportStatus,jdbcType=TINYINT},
      </if>
      <if test="supportmetho != null" >
        supportmetho = #{supportmetho,jdbcType=TINYINT},
      </if>
      <if test="supportTime != null" >
        supportTime = #{supportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordertype != null" >
        ordertype = #{ordertype,jdbcType=TINYINT},
      </if>
      <if test="closemsg != null" >
        closemsg = #{closemsg,jdbcType=VARCHAR},
      </if>
      <if test="gaveTime != null" >
        gaveTime = #{gaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null" >
        managerId = #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="managerTel != null" >
        managerTel = #{managerTel,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        managerName = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="spStatus != null" >
        spStatus = #{spStatus,jdbcType=TINYINT},
      </if>
      <if test="spRemark != null" >
        spRemark = #{spRemark,jdbcType=VARCHAR},
      </if>
      <if test="spCheckTime != null" >
        spCheckTime = #{spCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printTime != null" >
        printTime = #{printTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null" >
        deliveryTime = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="getOrderTime != null" >
        getOrderTime = #{getOrderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ackTime != null" >
        ackTime = #{ackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ackCode != null" >
        ackCode = #{ackCode,jdbcType=SMALLINT},
      </if>
      <if test="isStar != null" >
        isStar = #{isStar,jdbcType=TINYINT},
      </if>
      <if test="sendDate != null" >
        sendDate = #{sendDate,jdbcType=DATE},
      </if>
      <if test="fistTime != null" >
        fistTime = #{fistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qrcodeurl != null" >
        qrcodeurl = #{qrcodeurl,jdbcType=VARCHAR},
      </if>
      <if test="isRemind != null" >
        isRemind = #{isRemind,jdbcType=TINYINT},
      </if>
      <if test="zmaoli != null" >
        zmaoli = #{zmaoli,jdbcType=DECIMAL},
      </if>
      <if test="zfee != null" >
        zfee = #{zfee,jdbcType=DECIMAL},
      </if>
      <if test="warehouseId != null" >
        warehouseId = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        warehouseName = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseTime != null" >
        warehouseTime = #{warehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="forWxTradeNo != null" >
        forWxTradeNo = #{forWxTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="acId != null" >
        acId = #{acId,jdbcType=VARCHAR},
      </if>
      <if test="acStatus != null" >
        acStatus = #{acStatus,jdbcType=INTEGER},
      </if>
      <if test="acRemark != null" >
        acRemark = #{acRemark,jdbcType=VARCHAR},
      </if>
      <if test="acCheckTime != null" >
        acCheckTime = #{acCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acSettleTime != null" >
        acSettleTime = #{acSettleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acPayTime != null" >
        acPayTime = #{acPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="jsType != null" >
        jsType = #{jsType,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="balandeId != null" >
        balandeId = #{balandeId,jdbcType=BIGINT},
      </if>
      <if test="balanceUsedNum != null" >
        balanceUsedNum = #{balanceUsedNum,jdbcType=DECIMAL},
      </if>
      <if test="isUsedBalance != null" >
        isUsedBalance = #{isUsedBalance,jdbcType=BIT},
      </if>
      <if test="tradeNo != null" >
        tradeNo = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdPaymentNum != null" >
        thirdPaymentNum = #{thirdPaymentNum,jdbcType=DECIMAL},
      </if>
      <if test="thirdPayRealNum != null" >
        thirdPayRealNum = #{thirdPayRealNum,jdbcType=DECIMAL},
      </if>
      <if test="thirdPayFee != null" >
        thirdPayFee = #{thirdPayFee,jdbcType=DECIMAL},
      </if>
      <if test="dfFee != null" >
        dfFee = #{dfFee,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.ScOrderInfo" >
    update ScOrderInfo
    set pId = #{pId,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR},
      maOrderInfoId = #{maOrderInfoId,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      orderPrice = #{orderPrice,jdbcType=DECIMAL},
      goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
      markePrice = #{markePrice,jdbcType=DECIMAL},
      outOfPrice = #{outOfPrice,jdbcType=DECIMAL},
      rebate = #{rebate,jdbcType=DECIMAL},
      coupon = #{coupon,jdbcType=DECIMAL},
      couponId = #{couponId,jdbcType=VARCHAR},
      kfId = #{kfId,jdbcType=VARCHAR},
      kfName = #{kfName,jdbcType=VARCHAR},
      kfnote = #{kfnote,jdbcType=VARCHAR},
      kfStatus = #{kfStatus,jdbcType=TINYINT},
      kfCheckTime = #{kfCheckTime,jdbcType=TIMESTAMP},
      supplierId = #{supplierId,jdbcType=VARCHAR},
      supplierName = #{supplierName,jdbcType=VARCHAR},
      supplierRemark = #{supplierRemark,jdbcType=VARCHAR},
      groupId = #{groupId,jdbcType=INTEGER},
      groupName = #{groupName,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      userTel = #{userTel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      evaluation = #{evaluation,jdbcType=TINYINT},
      supportStatus = #{supportStatus,jdbcType=TINYINT},
      supportmetho = #{supportmetho,jdbcType=TINYINT},
      supportTime = #{supportTime,jdbcType=TIMESTAMP},
      ordertype = #{ordertype,jdbcType=TINYINT},
      closemsg = #{closemsg,jdbcType=VARCHAR},
      gaveTime = #{gaveTime,jdbcType=TIMESTAMP},
      managerId = #{managerId,jdbcType=VARCHAR},
      managerTel = #{managerTel,jdbcType=VARCHAR},
      managerName = #{managerName,jdbcType=VARCHAR},
      spStatus = #{spStatus,jdbcType=TINYINT},
      spRemark = #{spRemark,jdbcType=VARCHAR},
      spCheckTime = #{spCheckTime,jdbcType=TIMESTAMP},
      printTime = #{printTime,jdbcType=TIMESTAMP},
      deliveryTime = #{deliveryTime,jdbcType=TIMESTAMP},
      getOrderTime = #{getOrderTime,jdbcType=TIMESTAMP},
      ackTime = #{ackTime,jdbcType=TIMESTAMP},
      ackCode = #{ackCode,jdbcType=SMALLINT},
      isStar = #{isStar,jdbcType=TINYINT},
      sendDate = #{sendDate,jdbcType=DATE},
      fistTime = #{fistTime,jdbcType=TIMESTAMP},
      endTime = #{endTime,jdbcType=TIMESTAMP},
      qrcodeurl = #{qrcodeurl,jdbcType=VARCHAR},
      isRemind = #{isRemind,jdbcType=TINYINT},
      zmaoli = #{zmaoli,jdbcType=DECIMAL},
      zfee = #{zfee,jdbcType=DECIMAL},
      warehouseId = #{warehouseId,jdbcType=VARCHAR},
      warehouseName = #{warehouseName,jdbcType=VARCHAR},
      warehouseTime = #{warehouseTime,jdbcType=TIMESTAMP},
      forWxTradeNo = #{forWxTradeNo,jdbcType=VARCHAR},
      acId = #{acId,jdbcType=VARCHAR},
      acStatus = #{acStatus,jdbcType=INTEGER},
      acRemark = #{acRemark,jdbcType=VARCHAR},
      acCheckTime = #{acCheckTime,jdbcType=TIMESTAMP},
      acSettleTime = #{acSettleTime,jdbcType=TIMESTAMP},
      acPayTime = #{acPayTime,jdbcType=TIMESTAMP},
      level = #{level,jdbcType=TINYINT},
      freight = #{freight,jdbcType=DECIMAL},
      jsType = #{jsType,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT},
      balandeId = #{balandeId,jdbcType=BIGINT},
      balanceUsedNum = #{balanceUsedNum,jdbcType=DECIMAL},
      isUsedBalance = #{isUsedBalance,jdbcType=BIT},
      tradeNo = #{tradeNo,jdbcType=VARCHAR},
      thirdPaymentNum = #{thirdPaymentNum,jdbcType=DECIMAL},
      thirdPayRealNum = #{thirdPayRealNum,jdbcType=DECIMAL},
      thirdPayFee = #{thirdPayFee,jdbcType=DECIMAL},
      dfFee = #{dfFee,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>