<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.SendMsgRecordMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.SendMsgRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="isUse" property="isUse" jdbcType="BIT" />
    <result column="checkCode" property="checkCode" jdbcType="VARCHAR" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mobile, type, content, sendTime, isUse, checkCode, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SendMsgRecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SendMsgRecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.SendMsgRecord" >
    insert into SendMsgRecord (id, mobile, type, 
      content, sendTime, isUse, 
      checkCode, isDelete)
    values (#{id,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{isUse,jdbcType=BIT}, 
      #{checkCode,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.SendMsgRecord" >
    insert into SendMsgRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="sendTime != null" >
        sendTime,
      </if>
      <if test="isUse != null" >
        isUse,
      </if>
      <if test="checkCode != null" >
        checkCode,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=BIT},
      </if>
      <if test="checkCode != null" >
        #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.SendMsgRecord" >
    update SendMsgRecord
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        sendTime = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUse != null" >
        isUse = #{isUse,jdbcType=BIT},
      </if>
      <if test="checkCode != null" >
        checkCode = #{checkCode,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.SendMsgRecord" >
    update SendMsgRecord
    set mobile = #{mobile,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      sendTime = #{sendTime,jdbcType=TIMESTAMP},
      isUse = #{isUse,jdbcType=BIT},
      checkCode = #{checkCode,jdbcType=VARCHAR},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>