<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.ShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.ShoppingCart" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="storeItemId" property="storeItemId" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="itemCatelogId" property="itemCatelogId" jdbcType="INTEGER" />
    <result column="barCode" property="barCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="smallImg" property="smallImg" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="SMALLINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="totalPrice" property="totalPrice" jdbcType="DECIMAL" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="isCheck" property="isCheck" jdbcType="BIT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="isStock" property="isStock" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, storeItemId, userId, itemCatelogId, barCode, name, brand, spec, smallImg, num, 
    price, totalPrice, addTime, updateTime, isCheck, isDelete, isStock
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ShoppingCart
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ShoppingCart
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.ShoppingCart" >
    insert into ShoppingCart (id, storeItemId, userId, 
      itemCatelogId, barCode, name, 
      brand, spec, smallImg, 
      num, price, totalPrice, 
      addTime, updateTime, isCheck, 
      isDelete, isStock)
    values (#{id,jdbcType=VARCHAR}, #{storeItemId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{itemCatelogId,jdbcType=INTEGER}, #{barCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{smallImg,jdbcType=VARCHAR}, 
      #{num,jdbcType=SMALLINT}, #{price,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isCheck,jdbcType=BIT}, 
      #{isDelete,jdbcType=BIT}, #{isStock,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.ShoppingCart" >
    insert into ShoppingCart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="storeItemId != null" >
        storeItemId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="itemCatelogId != null" >
        itemCatelogId,
      </if>
      <if test="barCode != null" >
        barCode,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="smallImg != null" >
        smallImg,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalPrice != null" >
        totalPrice,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="isCheck != null" >
        isCheck,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="isStock != null" >
        isStock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="storeItemId != null" >
        #{storeItemId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemCatelogId != null" >
        #{itemCatelogId,jdbcType=INTEGER},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="smallImg != null" >
        #{smallImg,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=SMALLINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="isStock != null" >
        #{isStock,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.ShoppingCart" >
    update ShoppingCart
    <set >
      <if test="storeItemId != null" >
        storeItemId = #{storeItemId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemCatelogId != null" >
        itemCatelogId = #{itemCatelogId,jdbcType=INTEGER},
      </if>
      <if test="barCode != null" >
        barCode = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="smallImg != null" >
        smallImg = #{smallImg,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=SMALLINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        totalPrice = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isCheck != null" >
        isCheck = #{isCheck,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="isStock != null" >
        isStock = #{isStock,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.ShoppingCart" >
    update ShoppingCart
    set storeItemId = #{storeItemId,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR},
      itemCatelogId = #{itemCatelogId,jdbcType=INTEGER},
      barCode = #{barCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      smallImg = #{smallImg,jdbcType=VARCHAR},
      num = #{num,jdbcType=SMALLINT},
      price = #{price,jdbcType=DECIMAL},
      totalPrice = #{totalPrice,jdbcType=DECIMAL},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      isCheck = #{isCheck,jdbcType=BIT},
      isDelete = #{isDelete,jdbcType=BIT},
      isStock = #{isStock,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>