<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.SignResultMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.SignResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="userNm" property="userNm" jdbcType="VARCHAR" />
    <result column="userPwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="storeId" property="storeId" jdbcType="INTEGER" />
    <result column="protocolId" property="protocolId" jdbcType="INTEGER" />
    <result column="signTime" property="signTime" jdbcType="TIMESTAMP" />
    <result column="signContent" property="signContent" jdbcType="VARCHAR" />
    <result column="signResult" property="signResult" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, userNm, userPwd, storeId, protocolId, signTime, signContent, signResult, 
    isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SignResult
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SignResult
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.SignResult" >
    insert into SignResult (id, userId, userNm, 
      userPwd, storeId, protocolId, 
      signTime, signContent, signResult, 
      isDelete)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userNm,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, #{protocolId,jdbcType=INTEGER}, 
      #{signTime,jdbcType=TIMESTAMP}, #{signContent,jdbcType=VARCHAR}, #{signResult,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.SignResult" >
    insert into SignResult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="userNm != null" >
        userNm,
      </if>
      <if test="userPwd != null" >
        userPwd,
      </if>
      <if test="storeId != null" >
        storeId,
      </if>
      <if test="protocolId != null" >
        protocolId,
      </if>
      <if test="signTime != null" >
        signTime,
      </if>
      <if test="signContent != null" >
        signContent,
      </if>
      <if test="signResult != null" >
        signResult,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userNm != null" >
        #{userNm,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="protocolId != null" >
        #{protocolId,jdbcType=INTEGER},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signContent != null" >
        #{signContent,jdbcType=VARCHAR},
      </if>
      <if test="signResult != null" >
        #{signResult,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.SignResult" >
    update SignResult
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userNm != null" >
        userNm = #{userNm,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        userPwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        storeId = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="protocolId != null" >
        protocolId = #{protocolId,jdbcType=INTEGER},
      </if>
      <if test="signTime != null" >
        signTime = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signContent != null" >
        signContent = #{signContent,jdbcType=VARCHAR},
      </if>
      <if test="signResult != null" >
        signResult = #{signResult,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.SignResult" >
    update SignResult
    set userId = #{userId,jdbcType=VARCHAR},
      userNm = #{userNm,jdbcType=VARCHAR},
      userPwd = #{userPwd,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=INTEGER},
      protocolId = #{protocolId,jdbcType=INTEGER},
      signTime = #{signTime,jdbcType=TIMESTAMP},
      signContent = #{signContent,jdbcType=VARCHAR},
      signResult = #{signResult,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>