<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.SpPushMsgMapMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.SpPushMsgMap" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="msgId" property="msgId" jdbcType="VARCHAR" />
    <result column="storeId" property="storeId" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="readTime" property="readTime" jdbcType="TIMESTAMP" />
    <result column="readFlag" property="readFlag" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, msgId, storeId, userId, readTime, readFlag, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SpPushMsgMap
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SpPushMsgMap
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.SpPushMsgMap" >
    insert into SpPushMsgMap (id, msgId, storeId, 
      userId, readTime, readFlag, 
      isDelete)
    values (#{id,jdbcType=VARCHAR}, #{msgId,jdbcType=VARCHAR}, #{storeId,jdbcType=INTEGER}, 
      #{userId,jdbcType=VARCHAR}, #{readTime,jdbcType=TIMESTAMP}, #{readFlag,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.SpPushMsgMap" >
    insert into SpPushMsgMap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="msgId != null" >
        msgId,
      </if>
      <if test="storeId != null" >
        storeId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="readTime != null" >
        readTime,
      </if>
      <if test="readFlag != null" >
        readFlag,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null" >
        #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readFlag != null" >
        #{readFlag,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.SpPushMsgMap" >
    update SpPushMsgMap
    <set >
      <if test="msgId != null" >
        msgId = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null" >
        storeId = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="readTime != null" >
        readTime = #{readTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readFlag != null" >
        readFlag = #{readFlag,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.SpPushMsgMap" >
    update SpPushMsgMap
    set msgId = #{msgId,jdbcType=VARCHAR},
      storeId = #{storeId,jdbcType=INTEGER},
      userId = #{userId,jdbcType=VARCHAR},
      readTime = #{readTime,jdbcType=TIMESTAMP},
      readFlag = #{readFlag,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>