<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.SpSearchLogMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.SpSearchLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="searchTime" property="searchTime" jdbcType="TIMESTAMP" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="ordId" property="ordId" jdbcType="INTEGER" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, keyword, num, searchTime, areaId, ordId, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SpSearchLog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SpSearchLog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.SpSearchLog" >
    insert into SpSearchLog (id, userId, keyword, 
      num, searchTime, areaId, 
      ordId, isDelete)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{searchTime,jdbcType=TIMESTAMP}, #{areaId,jdbcType=INTEGER}, 
      #{ordId,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.SpSearchLog" >
    insert into SpSearchLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="searchTime != null" >
        searchTime,
      </if>
      <if test="areaId != null" >
        areaId,
      </if>
      <if test="ordId != null" >
        ordId,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="searchTime != null" >
        #{searchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="ordId != null" >
        #{ordId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.SpSearchLog" >
    update SpSearchLog
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="searchTime != null" >
        searchTime = #{searchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="areaId != null" >
        areaId = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="ordId != null" >
        ordId = #{ordId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.SpSearchLog" >
    update SpSearchLog
    set userId = #{userId,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      searchTime = #{searchTime,jdbcType=TIMESTAMP},
      areaId = #{areaId,jdbcType=INTEGER},
      ordId = #{ordId,jdbcType=INTEGER},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>