<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.StoreMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.Store" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ordId" property="ordId" jdbcType="TINYINT" />
    <result column="supplierCode" property="supplierCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="provinceId" property="provinceId" jdbcType="INTEGER" />
    <result column="cityId" property="cityId" jdbcType="INTEGER" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="streetId" property="streetId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="addressRemark" property="addressRemark" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="contactUser" property="contactUser" jdbcType="VARCHAR" />
    <result column="contactPwd" property="contactPwd" jdbcType="VARCHAR" />
    <result column="shoperName" property="shoperName" jdbcType="VARCHAR" />
    <result column="shoperTel" property="shoperTel" jdbcType="VARCHAR" />
    <result column="shoperQQ" property="shoperQQ" jdbcType="VARCHAR" />
    <result column="bankAccount" property="bankAccount" jdbcType="VARCHAR" />
    <result column="bankName" property="bankName" jdbcType="VARCHAR" />
    <result column="bankCard" property="bankCard" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="lastTime" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="lastIP" property="lastIP" jdbcType="VARCHAR" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="editTime" property="editTime" jdbcType="TIMESTAMP" />
    <result column="sendTimeBegin" property="sendTimeBegin" jdbcType="TIME" />
    <result column="sendTimeEnd" property="sendTimeEnd" jdbcType="TIME" />
    <result column="sendess" property="sendess" jdbcType="DECIMAL" />
    <result column="serviceFee" property="serviceFee" jdbcType="DECIMAL" />
    <result column="rates" property="rates" jdbcType="REAL" />
    <result column="agreementPeriod" property="agreementPeriod" jdbcType="TINYINT" />
    <result column="totalPeriod" property="totalPeriod" jdbcType="INTEGER" />
    <result column="signTime" property="signTime" jdbcType="DATE" />
    <result column="iosCid" property="iosCid" jdbcType="VARCHAR" />
    <result column="androidCid" property="androidCid" jdbcType="VARCHAR" />
    <result column="totalComment" property="totalComment" jdbcType="SMALLINT" />
    <result column="avgComment" property="avgComment" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDrawC" property="isDrawC" jdbcType="BIT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="col1" property="col1" jdbcType="VARCHAR" />
    <result column="col2" property="col2" jdbcType="VARCHAR" />
    <result column="col3" property="col3" jdbcType="VARCHAR" />
    <result column="col4" property="col4" jdbcType="VARCHAR" />
    <result column="col5" property="col5" jdbcType="VARCHAR" />
    <result column="col6" property="col6" jdbcType="VARCHAR" />
    <result column="col7" property="col7" jdbcType="VARCHAR" />
    <result column="col8" property="col8" jdbcType="VARCHAR" />
    <result column="col9" property="col9" jdbcType="VARCHAR" />
    <result column="col10" property="col10" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="qrcodeurl" property="qrcodeurl" jdbcType="VARCHAR" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="acGroupId" property="acGroupId" jdbcType="VARCHAR" />
    <result column="isFirstOrd" property="isFirstOrd" jdbcType="BIT" />
    <result column="fromWho" property="fromWho" jdbcType="INTEGER" />
    <result column="inviteId" property="inviteId" jdbcType="VARCHAR" />
    <result column="sequenceNum" property="sequenceNum" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.corner.core.beans.Store" extends="BaseResultMap" >
    <result column="explain" property="explain" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ordId, supplierCode, name, contact, tel, mobile, provinceId, cityId, areaId, 
    streetId, address, addressRemark, lng, lat, contactUser, contactPwd, shoperName, 
    shoperTel, shoperQQ, bankAccount, bankName, bankCard, img, sales, lastTime, lastIP, 
    addTime, editTime, sendTimeBegin, sendTimeEnd, sendess, serviceFee, rates, agreementPeriod, 
    totalPeriod, signTime, iosCid, androidCid, totalComment, avgComment, status, isDrawC, 
    isDelete, col1, col2, col3, col4, col5, col6, col7, col8, col9, col10, amount, type, 
    qrcodeurl, spGroupId, acGroupId, isFirstOrd, fromWho, inviteId, sequenceNum
  </sql>
  <sql id="Blob_Column_List" >
    `explain`
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.corner.core.beans.StoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.corner.core.beans.StoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from Store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.corner.core.beans.StoreExample" >
    delete from Store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.Store" >
    insert into Store (id, ordId, supplierCode, 
      name, contact, tel, 
      mobile, provinceId, cityId, 
      areaId, streetId, address, 
      addressRemark, lng, lat, 
      contactUser, contactPwd, shoperName, 
      shoperTel, shoperQQ, bankAccount, 
      bankName, bankCard, img, 
      sales, lastTime, lastIP, 
      addTime, editTime, sendTimeBegin, 
      sendTimeEnd, sendess, serviceFee, 
      rates, agreementPeriod, totalPeriod, 
      signTime, iosCid, androidCid, 
      totalComment, avgComment, status, 
      isDrawC, isDelete, col1, col2, 
      col3, col4, col5, col6, 
      col7, col8, col9, col10, 
      amount, type, qrcodeurl, 
      spGroupId, acGroupId, isFirstOrd, 
      fromWho, inviteId, sequenceNum, 
     `explain`)
    values (#{id,jdbcType=INTEGER}, #{ordId,jdbcType=TINYINT}, #{supplierCode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{areaId,jdbcType=INTEGER}, #{streetId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{addressRemark,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, 
      #{contactUser,jdbcType=VARCHAR}, #{contactPwd,jdbcType=VARCHAR}, #{shoperName,jdbcType=VARCHAR}, 
      #{shoperTel,jdbcType=VARCHAR}, #{shoperQQ,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankCard,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{sales,jdbcType=INTEGER}, #{lastTime,jdbcType=TIMESTAMP}, #{lastIP,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, #{sendTimeBegin,jdbcType=TIME}, 
      #{sendTimeEnd,jdbcType=TIME}, #{sendess,jdbcType=DECIMAL}, #{serviceFee,jdbcType=DECIMAL}, 
      #{rates,jdbcType=REAL}, #{agreementPeriod,jdbcType=TINYINT}, #{totalPeriod,jdbcType=INTEGER}, 
      #{signTime,jdbcType=DATE}, #{iosCid,jdbcType=VARCHAR}, #{androidCid,jdbcType=VARCHAR}, 
      #{totalComment,jdbcType=SMALLINT}, #{avgComment,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, 
      #{isDrawC,jdbcType=BIT}, #{isDelete,jdbcType=BIT}, #{col1,jdbcType=VARCHAR}, #{col2,jdbcType=VARCHAR}, 
      #{col3,jdbcType=VARCHAR}, #{col4,jdbcType=VARCHAR}, #{col5,jdbcType=VARCHAR}, #{col6,jdbcType=VARCHAR}, 
      #{col7,jdbcType=VARCHAR}, #{col8,jdbcType=VARCHAR}, #{col9,jdbcType=VARCHAR}, #{col10,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{type,jdbcType=TINYINT}, #{qrcodeurl,jdbcType=VARCHAR}, 
      #{spGroupId,jdbcType=INTEGER}, #{acGroupId,jdbcType=VARCHAR}, #{isFirstOrd,jdbcType=BIT}, 
      #{fromWho,jdbcType=INTEGER}, #{inviteId,jdbcType=VARCHAR}, #{sequenceNum,jdbcType=INTEGER}, 
      #{explain,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.Store" >
    insert into Store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordId != null" >
        ordId,
      </if>
      <if test="supplierCode != null" >
        supplierCode,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="provinceId != null" >
        provinceId,
      </if>
      <if test="cityId != null" >
        cityId,
      </if>
      <if test="areaId != null" >
        areaId,
      </if>
      <if test="streetId != null" >
        streetId,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="addressRemark != null" >
        addressRemark,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="contactUser != null" >
        contactUser,
      </if>
      <if test="contactPwd != null" >
        contactPwd,
      </if>
      <if test="shoperName != null" >
        shoperName,
      </if>
      <if test="shoperTel != null" >
        shoperTel,
      </if>
      <if test="shoperQQ != null" >
        shoperQQ,
      </if>
      <if test="bankAccount != null" >
        bankAccount,
      </if>
      <if test="bankName != null" >
        bankName,
      </if>
      <if test="bankCard != null" >
        bankCard,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="lastTime != null" >
        lastTime,
      </if>
      <if test="lastIP != null" >
        lastIP,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="editTime != null" >
        editTime,
      </if>
      <if test="sendTimeBegin != null" >
        sendTimeBegin,
      </if>
      <if test="sendTimeEnd != null" >
        sendTimeEnd,
      </if>
      <if test="sendess != null" >
        sendess,
      </if>
      <if test="serviceFee != null" >
        serviceFee,
      </if>
      <if test="rates != null" >
        rates,
      </if>
      <if test="agreementPeriod != null" >
        agreementPeriod,
      </if>
      <if test="totalPeriod != null" >
        totalPeriod,
      </if>
      <if test="signTime != null" >
        signTime,
      </if>
      <if test="iosCid != null" >
        iosCid,
      </if>
      <if test="androidCid != null" >
        androidCid,
      </if>
      <if test="totalComment != null" >
        totalComment,
      </if>
      <if test="avgComment != null" >
        avgComment,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDrawC != null" >
        isDrawC,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="col1 != null" >
        col1,
      </if>
      <if test="col2 != null" >
        col2,
      </if>
      <if test="col3 != null" >
        col3,
      </if>
      <if test="col4 != null" >
        col4,
      </if>
      <if test="col5 != null" >
        col5,
      </if>
      <if test="col6 != null" >
        col6,
      </if>
      <if test="col7 != null" >
        col7,
      </if>
      <if test="col8 != null" >
        col8,
      </if>
      <if test="col9 != null" >
        col9,
      </if>
      <if test="col10 != null" >
        col10,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="qrcodeurl != null" >
        qrcodeurl,
      </if>
      <if test="spGroupId != null" >
        spGroupId,
      </if>
      <if test="acGroupId != null" >
        acGroupId,
      </if>
      <if test="isFirstOrd != null" >
        isFirstOrd,
      </if>
      <if test="fromWho != null" >
        fromWho,
      </if>
      <if test="inviteId != null" >
        inviteId,
      </if>
      <if test="sequenceNum != null" >
        sequenceNum,
      </if>
      <if test="explain != null" >
        `explain`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordId != null" >
        #{ordId,jdbcType=TINYINT},
      </if>
      <if test="supplierCode != null" >
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressRemark != null" >
        #{addressRemark,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=VARCHAR},
      </if>
      <if test="contactUser != null" >
        #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactPwd != null" >
        #{contactPwd,jdbcType=VARCHAR},
      </if>
      <if test="shoperName != null" >
        #{shoperName,jdbcType=VARCHAR},
      </if>
      <if test="shoperTel != null" >
        #{shoperTel,jdbcType=VARCHAR},
      </if>
      <if test="shoperQQ != null" >
        #{shoperQQ,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIP != null" >
        #{lastIP,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTimeBegin != null" >
        #{sendTimeBegin,jdbcType=TIME},
      </if>
      <if test="sendTimeEnd != null" >
        #{sendTimeEnd,jdbcType=TIME},
      </if>
      <if test="sendess != null" >
        #{sendess,jdbcType=DECIMAL},
      </if>
      <if test="serviceFee != null" >
        #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="rates != null" >
        #{rates,jdbcType=REAL},
      </if>
      <if test="agreementPeriod != null" >
        #{agreementPeriod,jdbcType=TINYINT},
      </if>
      <if test="totalPeriod != null" >
        #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=DATE},
      </if>
      <if test="iosCid != null" >
        #{iosCid,jdbcType=VARCHAR},
      </if>
      <if test="androidCid != null" >
        #{androidCid,jdbcType=VARCHAR},
      </if>
      <if test="totalComment != null" >
        #{totalComment,jdbcType=SMALLINT},
      </if>
      <if test="avgComment != null" >
        #{avgComment,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDrawC != null" >
        #{isDrawC,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="col1 != null" >
        #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null" >
        #{col3,jdbcType=VARCHAR},
      </if>
      <if test="col4 != null" >
        #{col4,jdbcType=VARCHAR},
      </if>
      <if test="col5 != null" >
        #{col5,jdbcType=VARCHAR},
      </if>
      <if test="col6 != null" >
        #{col6,jdbcType=VARCHAR},
      </if>
      <if test="col7 != null" >
        #{col7,jdbcType=VARCHAR},
      </if>
      <if test="col8 != null" >
        #{col8,jdbcType=VARCHAR},
      </if>
      <if test="col9 != null" >
        #{col9,jdbcType=VARCHAR},
      </if>
      <if test="col10 != null" >
        #{col10,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="qrcodeurl != null" >
        #{qrcodeurl,jdbcType=VARCHAR},
      </if>
      <if test="spGroupId != null" >
        #{spGroupId,jdbcType=INTEGER},
      </if>
      <if test="acGroupId != null" >
        #{acGroupId,jdbcType=VARCHAR},
      </if>
      <if test="isFirstOrd != null" >
        #{isFirstOrd,jdbcType=BIT},
      </if>
      <if test="fromWho != null" >
        #{fromWho,jdbcType=INTEGER},
      </if>
      <if test="inviteId != null" >
        #{inviteId,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNum != null" >
        #{sequenceNum,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.corner.core.beans.StoreExample" resultType="java.lang.Integer" >
    select count(*) from Store
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Store
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ordId != null" >
        ordId = #{record.ordId,jdbcType=TINYINT},
      </if>
      <if test="record.supplierCode != null" >
        supplierCode = #{record.supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null" >
        provinceId = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        cityId = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null" >
        areaId = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.streetId != null" >
        streetId = #{record.streetId,jdbcType=INTEGER},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.addressRemark != null" >
        addressRemark = #{record.addressRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.lng != null" >
        lng = #{record.lng,jdbcType=VARCHAR},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=VARCHAR},
      </if>
      <if test="record.contactUser != null" >
        contactUser = #{record.contactUser,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPwd != null" >
        contactPwd = #{record.contactPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.shoperName != null" >
        shoperName = #{record.shoperName,jdbcType=VARCHAR},
      </if>
      <if test="record.shoperTel != null" >
        shoperTel = #{record.shoperTel,jdbcType=VARCHAR},
      </if>
      <if test="record.shoperQQ != null" >
        shoperQQ = #{record.shoperQQ,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAccount != null" >
        bankAccount = #{record.bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        bankName = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCard != null" >
        bankCard = #{record.bankCard,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.sales != null" >
        sales = #{record.sales,jdbcType=INTEGER},
      </if>
      <if test="record.lastTime != null" >
        lastTime = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastIP != null" >
        lastIP = #{record.lastIP,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        addTime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editTime != null" >
        editTime = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendTimeBegin != null" >
        sendTimeBegin = #{record.sendTimeBegin,jdbcType=TIME},
      </if>
      <if test="record.sendTimeEnd != null" >
        sendTimeEnd = #{record.sendTimeEnd,jdbcType=TIME},
      </if>
      <if test="record.sendess != null" >
        sendess = #{record.sendess,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceFee != null" >
        serviceFee = #{record.serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="record.rates != null" >
        rates = #{record.rates,jdbcType=REAL},
      </if>
      <if test="record.agreementPeriod != null" >
        agreementPeriod = #{record.agreementPeriod,jdbcType=TINYINT},
      </if>
      <if test="record.totalPeriod != null" >
        totalPeriod = #{record.totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.signTime != null" >
        signTime = #{record.signTime,jdbcType=DATE},
      </if>
      <if test="record.iosCid != null" >
        iosCid = #{record.iosCid,jdbcType=VARCHAR},
      </if>
      <if test="record.androidCid != null" >
        androidCid = #{record.androidCid,jdbcType=VARCHAR},
      </if>
      <if test="record.totalComment != null" >
        totalComment = #{record.totalComment,jdbcType=SMALLINT},
      </if>
      <if test="record.avgComment != null" >
        avgComment = #{record.avgComment,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.isDrawC != null" >
        isDrawC = #{record.isDrawC,jdbcType=BIT},
      </if>
      <if test="record.isDelete != null" >
        isDelete = #{record.isDelete,jdbcType=BIT},
      </if>
      <if test="record.col1 != null" >
        col1 = #{record.col1,jdbcType=VARCHAR},
      </if>
      <if test="record.col2 != null" >
        col2 = #{record.col2,jdbcType=VARCHAR},
      </if>
      <if test="record.col3 != null" >
        col3 = #{record.col3,jdbcType=VARCHAR},
      </if>
      <if test="record.col4 != null" >
        col4 = #{record.col4,jdbcType=VARCHAR},
      </if>
      <if test="record.col5 != null" >
        col5 = #{record.col5,jdbcType=VARCHAR},
      </if>
      <if test="record.col6 != null" >
        col6 = #{record.col6,jdbcType=VARCHAR},
      </if>
      <if test="record.col7 != null" >
        col7 = #{record.col7,jdbcType=VARCHAR},
      </if>
      <if test="record.col8 != null" >
        col8 = #{record.col8,jdbcType=VARCHAR},
      </if>
      <if test="record.col9 != null" >
        col9 = #{record.col9,jdbcType=VARCHAR},
      </if>
      <if test="record.col10 != null" >
        col10 = #{record.col10,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.qrcodeurl != null" >
        qrcodeurl = #{record.qrcodeurl,jdbcType=VARCHAR},
      </if>
      <if test="record.spGroupId != null" >
        spGroupId = #{record.spGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.acGroupId != null" >
        acGroupId = #{record.acGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.isFirstOrd != null" >
        isFirstOrd = #{record.isFirstOrd,jdbcType=BIT},
      </if>
      <if test="record.fromWho != null" >
        fromWho = #{record.fromWho,jdbcType=INTEGER},
      </if>
      <if test="record.inviteId != null" >
        inviteId = #{record.inviteId,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenceNum != null" >
        sequenceNum = #{record.sequenceNum,jdbcType=INTEGER},
      </if>
      <if test="record.explain != null" >
        `explain` = #{record.explain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update Store
    set id = #{record.id,jdbcType=INTEGER},
      ordId = #{record.ordId,jdbcType=TINYINT},
      supplierCode = #{record.supplierCode,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      provinceId = #{record.provinceId,jdbcType=INTEGER},
      cityId = #{record.cityId,jdbcType=INTEGER},
      areaId = #{record.areaId,jdbcType=INTEGER},
      streetId = #{record.streetId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      addressRemark = #{record.addressRemark,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      contactUser = #{record.contactUser,jdbcType=VARCHAR},
      contactPwd = #{record.contactPwd,jdbcType=VARCHAR},
      shoperName = #{record.shoperName,jdbcType=VARCHAR},
      shoperTel = #{record.shoperTel,jdbcType=VARCHAR},
      shoperQQ = #{record.shoperQQ,jdbcType=VARCHAR},
      bankAccount = #{record.bankAccount,jdbcType=VARCHAR},
      bankName = #{record.bankName,jdbcType=VARCHAR},
      bankCard = #{record.bankCard,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      sales = #{record.sales,jdbcType=INTEGER},
      lastTime = #{record.lastTime,jdbcType=TIMESTAMP},
      lastIP = #{record.lastIP,jdbcType=VARCHAR},
      addTime = #{record.addTime,jdbcType=TIMESTAMP},
      editTime = #{record.editTime,jdbcType=TIMESTAMP},
      sendTimeBegin = #{record.sendTimeBegin,jdbcType=TIME},
      sendTimeEnd = #{record.sendTimeEnd,jdbcType=TIME},
      sendess = #{record.sendess,jdbcType=DECIMAL},
      serviceFee = #{record.serviceFee,jdbcType=DECIMAL},
      rates = #{record.rates,jdbcType=REAL},
      agreementPeriod = #{record.agreementPeriod,jdbcType=TINYINT},
      totalPeriod = #{record.totalPeriod,jdbcType=INTEGER},
      signTime = #{record.signTime,jdbcType=DATE},
      iosCid = #{record.iosCid,jdbcType=VARCHAR},
      androidCid = #{record.androidCid,jdbcType=VARCHAR},
      totalComment = #{record.totalComment,jdbcType=SMALLINT},
      avgComment = #{record.avgComment,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=TINYINT},
      isDrawC = #{record.isDrawC,jdbcType=BIT},
      isDelete = #{record.isDelete,jdbcType=BIT},
      col1 = #{record.col1,jdbcType=VARCHAR},
      col2 = #{record.col2,jdbcType=VARCHAR},
      col3 = #{record.col3,jdbcType=VARCHAR},
      col4 = #{record.col4,jdbcType=VARCHAR},
      col5 = #{record.col5,jdbcType=VARCHAR},
      col6 = #{record.col6,jdbcType=VARCHAR},
      col7 = #{record.col7,jdbcType=VARCHAR},
      col8 = #{record.col8,jdbcType=VARCHAR},
      col9 = #{record.col9,jdbcType=VARCHAR},
      col10 = #{record.col10,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      type = #{record.type,jdbcType=TINYINT},
      qrcodeurl = #{record.qrcodeurl,jdbcType=VARCHAR},
      spGroupId = #{record.spGroupId,jdbcType=INTEGER},
      acGroupId = #{record.acGroupId,jdbcType=VARCHAR},
      isFirstOrd = #{record.isFirstOrd,jdbcType=BIT},
      fromWho = #{record.fromWho,jdbcType=INTEGER},
      inviteId = #{record.inviteId,jdbcType=VARCHAR},
      sequenceNum = #{record.sequenceNum,jdbcType=INTEGER},
      `explain` = #{record.explain,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Store
    set id = #{record.id,jdbcType=INTEGER},
      ordId = #{record.ordId,jdbcType=TINYINT},
      supplierCode = #{record.supplierCode,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      provinceId = #{record.provinceId,jdbcType=INTEGER},
      cityId = #{record.cityId,jdbcType=INTEGER},
      areaId = #{record.areaId,jdbcType=INTEGER},
      streetId = #{record.streetId,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      addressRemark = #{record.addressRemark,jdbcType=VARCHAR},
      lng = #{record.lng,jdbcType=VARCHAR},
      lat = #{record.lat,jdbcType=VARCHAR},
      contactUser = #{record.contactUser,jdbcType=VARCHAR},
      contactPwd = #{record.contactPwd,jdbcType=VARCHAR},
      shoperName = #{record.shoperName,jdbcType=VARCHAR},
      shoperTel = #{record.shoperTel,jdbcType=VARCHAR},
      shoperQQ = #{record.shoperQQ,jdbcType=VARCHAR},
      bankAccount = #{record.bankAccount,jdbcType=VARCHAR},
      bankName = #{record.bankName,jdbcType=VARCHAR},
      bankCard = #{record.bankCard,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      sales = #{record.sales,jdbcType=INTEGER},
      lastTime = #{record.lastTime,jdbcType=TIMESTAMP},
      lastIP = #{record.lastIP,jdbcType=VARCHAR},
      addTime = #{record.addTime,jdbcType=TIMESTAMP},
      editTime = #{record.editTime,jdbcType=TIMESTAMP},
      sendTimeBegin = #{record.sendTimeBegin,jdbcType=TIME},
      sendTimeEnd = #{record.sendTimeEnd,jdbcType=TIME},
      sendess = #{record.sendess,jdbcType=DECIMAL},
      serviceFee = #{record.serviceFee,jdbcType=DECIMAL},
      rates = #{record.rates,jdbcType=REAL},
      agreementPeriod = #{record.agreementPeriod,jdbcType=TINYINT},
      totalPeriod = #{record.totalPeriod,jdbcType=INTEGER},
      signTime = #{record.signTime,jdbcType=DATE},
      iosCid = #{record.iosCid,jdbcType=VARCHAR},
      androidCid = #{record.androidCid,jdbcType=VARCHAR},
      totalComment = #{record.totalComment,jdbcType=SMALLINT},
      avgComment = #{record.avgComment,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=TINYINT},
      isDrawC = #{record.isDrawC,jdbcType=BIT},
      isDelete = #{record.isDelete,jdbcType=BIT},
      col1 = #{record.col1,jdbcType=VARCHAR},
      col2 = #{record.col2,jdbcType=VARCHAR},
      col3 = #{record.col3,jdbcType=VARCHAR},
      col4 = #{record.col4,jdbcType=VARCHAR},
      col5 = #{record.col5,jdbcType=VARCHAR},
      col6 = #{record.col6,jdbcType=VARCHAR},
      col7 = #{record.col7,jdbcType=VARCHAR},
      col8 = #{record.col8,jdbcType=VARCHAR},
      col9 = #{record.col9,jdbcType=VARCHAR},
      col10 = #{record.col10,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=DECIMAL},
      type = #{record.type,jdbcType=TINYINT},
      qrcodeurl = #{record.qrcodeurl,jdbcType=VARCHAR},
      spGroupId = #{record.spGroupId,jdbcType=INTEGER},
      acGroupId = #{record.acGroupId,jdbcType=VARCHAR},
      isFirstOrd = #{record.isFirstOrd,jdbcType=BIT},
      fromWho = #{record.fromWho,jdbcType=INTEGER},
      inviteId = #{record.inviteId,jdbcType=VARCHAR},
      sequenceNum = #{record.sequenceNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.Store" >
    update Store
    <set >
      <if test="ordId != null" >
        ordId = #{ordId,jdbcType=TINYINT},
      </if>
      <if test="supplierCode != null" >
        supplierCode = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        provinceId = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        cityId = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        areaId = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="streetId != null" >
        streetId = #{streetId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressRemark != null" >
        addressRemark = #{addressRemark,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=VARCHAR},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="contactUser != null" >
        contactUser = #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactPwd != null" >
        contactPwd = #{contactPwd,jdbcType=VARCHAR},
      </if>
      <if test="shoperName != null" >
        shoperName = #{shoperName,jdbcType=VARCHAR},
      </if>
      <if test="shoperTel != null" >
        shoperTel = #{shoperTel,jdbcType=VARCHAR},
      </if>
      <if test="shoperQQ != null" >
        shoperQQ = #{shoperQQ,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bankAccount = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bankName = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        bankCard = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null" >
        lastTime = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastIP != null" >
        lastIP = #{lastIP,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        editTime = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTimeBegin != null" >
        sendTimeBegin = #{sendTimeBegin,jdbcType=TIME},
      </if>
      <if test="sendTimeEnd != null" >
        sendTimeEnd = #{sendTimeEnd,jdbcType=TIME},
      </if>
      <if test="sendess != null" >
        sendess = #{sendess,jdbcType=DECIMAL},
      </if>
      <if test="serviceFee != null" >
        serviceFee = #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="rates != null" >
        rates = #{rates,jdbcType=REAL},
      </if>
      <if test="agreementPeriod != null" >
        agreementPeriod = #{agreementPeriod,jdbcType=TINYINT},
      </if>
      <if test="totalPeriod != null" >
        totalPeriod = #{totalPeriod,jdbcType=INTEGER},
      </if>
      <if test="signTime != null" >
        signTime = #{signTime,jdbcType=DATE},
      </if>
      <if test="iosCid != null" >
        iosCid = #{iosCid,jdbcType=VARCHAR},
      </if>
      <if test="androidCid != null" >
        androidCid = #{androidCid,jdbcType=VARCHAR},
      </if>
      <if test="totalComment != null" >
        totalComment = #{totalComment,jdbcType=SMALLINT},
      </if>
      <if test="avgComment != null" >
        avgComment = #{avgComment,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDrawC != null" >
        isDrawC = #{isDrawC,jdbcType=BIT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="col1 != null" >
        col1 = #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        col2 = #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null" >
        col3 = #{col3,jdbcType=VARCHAR},
      </if>
      <if test="col4 != null" >
        col4 = #{col4,jdbcType=VARCHAR},
      </if>
      <if test="col5 != null" >
        col5 = #{col5,jdbcType=VARCHAR},
      </if>
      <if test="col6 != null" >
        col6 = #{col6,jdbcType=VARCHAR},
      </if>
      <if test="col7 != null" >
        col7 = #{col7,jdbcType=VARCHAR},
      </if>
      <if test="col8 != null" >
        col8 = #{col8,jdbcType=VARCHAR},
      </if>
      <if test="col9 != null" >
        col9 = #{col9,jdbcType=VARCHAR},
      </if>
      <if test="col10 != null" >
        col10 = #{col10,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="qrcodeurl != null" >
        qrcodeurl = #{qrcodeurl,jdbcType=VARCHAR},
      </if>
      <if test="spGroupId != null" >
        spGroupId = #{spGroupId,jdbcType=INTEGER},
      </if>
      <if test="acGroupId != null" >
        acGroupId = #{acGroupId,jdbcType=VARCHAR},
      </if>
      <if test="isFirstOrd != null" >
        isFirstOrd = #{isFirstOrd,jdbcType=BIT},
      </if>
      <if test="fromWho != null" >
        fromWho = #{fromWho,jdbcType=INTEGER},
      </if>
      <if test="inviteId != null" >
        inviteId = #{inviteId,jdbcType=VARCHAR},
      </if>
      <if test="sequenceNum != null" >
        sequenceNum = #{sequenceNum,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        `explain` = #{explain,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.corner.core.beans.Store" >
    update Store
    set ordId = #{ordId,jdbcType=TINYINT},
      supplierCode = #{supplierCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      provinceId = #{provinceId,jdbcType=INTEGER},
      cityId = #{cityId,jdbcType=INTEGER},
      areaId = #{areaId,jdbcType=INTEGER},
      streetId = #{streetId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      addressRemark = #{addressRemark,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      contactUser = #{contactUser,jdbcType=VARCHAR},
      contactPwd = #{contactPwd,jdbcType=VARCHAR},
      shoperName = #{shoperName,jdbcType=VARCHAR},
      shoperTel = #{shoperTel,jdbcType=VARCHAR},
      shoperQQ = #{shoperQQ,jdbcType=VARCHAR},
      bankAccount = #{bankAccount,jdbcType=VARCHAR},
      bankName = #{bankName,jdbcType=VARCHAR},
      bankCard = #{bankCard,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      lastTime = #{lastTime,jdbcType=TIMESTAMP},
      lastIP = #{lastIP,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      sendTimeBegin = #{sendTimeBegin,jdbcType=TIME},
      sendTimeEnd = #{sendTimeEnd,jdbcType=TIME},
      sendess = #{sendess,jdbcType=DECIMAL},
      serviceFee = #{serviceFee,jdbcType=DECIMAL},
      rates = #{rates,jdbcType=REAL},
      agreementPeriod = #{agreementPeriod,jdbcType=TINYINT},
      totalPeriod = #{totalPeriod,jdbcType=INTEGER},
      signTime = #{signTime,jdbcType=DATE},
      iosCid = #{iosCid,jdbcType=VARCHAR},
      androidCid = #{androidCid,jdbcType=VARCHAR},
      totalComment = #{totalComment,jdbcType=SMALLINT},
      avgComment = #{avgComment,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      isDrawC = #{isDrawC,jdbcType=BIT},
      isDelete = #{isDelete,jdbcType=BIT},
      col1 = #{col1,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR},
      col3 = #{col3,jdbcType=VARCHAR},
      col4 = #{col4,jdbcType=VARCHAR},
      col5 = #{col5,jdbcType=VARCHAR},
      col6 = #{col6,jdbcType=VARCHAR},
      col7 = #{col7,jdbcType=VARCHAR},
      col8 = #{col8,jdbcType=VARCHAR},
      col9 = #{col9,jdbcType=VARCHAR},
      col10 = #{col10,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      type = #{type,jdbcType=TINYINT},
      qrcodeurl = #{qrcodeurl,jdbcType=VARCHAR},
      spGroupId = #{spGroupId,jdbcType=INTEGER},
      acGroupId = #{acGroupId,jdbcType=VARCHAR},
      isFirstOrd = #{isFirstOrd,jdbcType=BIT},
      fromWho = #{fromWho,jdbcType=INTEGER},
      inviteId = #{inviteId,jdbcType=VARCHAR},
      sequenceNum = #{sequenceNum,jdbcType=INTEGER},
      `explain` = #{explain,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.Store" >
    update Store
    set ordId = #{ordId,jdbcType=TINYINT},
      supplierCode = #{supplierCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      provinceId = #{provinceId,jdbcType=INTEGER},
      cityId = #{cityId,jdbcType=INTEGER},
      areaId = #{areaId,jdbcType=INTEGER},
      streetId = #{streetId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      addressRemark = #{addressRemark,jdbcType=VARCHAR},
      lng = #{lng,jdbcType=VARCHAR},
      lat = #{lat,jdbcType=VARCHAR},
      contactUser = #{contactUser,jdbcType=VARCHAR},
      contactPwd = #{contactPwd,jdbcType=VARCHAR},
      shoperName = #{shoperName,jdbcType=VARCHAR},
      shoperTel = #{shoperTel,jdbcType=VARCHAR},
      shoperQQ = #{shoperQQ,jdbcType=VARCHAR},
      bankAccount = #{bankAccount,jdbcType=VARCHAR},
      bankName = #{bankName,jdbcType=VARCHAR},
      bankCard = #{bankCard,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      lastTime = #{lastTime,jdbcType=TIMESTAMP},
      lastIP = #{lastIP,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      editTime = #{editTime,jdbcType=TIMESTAMP},
      sendTimeBegin = #{sendTimeBegin,jdbcType=TIME},
      sendTimeEnd = #{sendTimeEnd,jdbcType=TIME},
      sendess = #{sendess,jdbcType=DECIMAL},
      serviceFee = #{serviceFee,jdbcType=DECIMAL},
      rates = #{rates,jdbcType=REAL},
      agreementPeriod = #{agreementPeriod,jdbcType=TINYINT},
      totalPeriod = #{totalPeriod,jdbcType=INTEGER},
      signTime = #{signTime,jdbcType=DATE},
      iosCid = #{iosCid,jdbcType=VARCHAR},
      androidCid = #{androidCid,jdbcType=VARCHAR},
      totalComment = #{totalComment,jdbcType=SMALLINT},
      avgComment = #{avgComment,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      isDrawC = #{isDrawC,jdbcType=BIT},
      isDelete = #{isDelete,jdbcType=BIT},
      col1 = #{col1,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR},
      col3 = #{col3,jdbcType=VARCHAR},
      col4 = #{col4,jdbcType=VARCHAR},
      col5 = #{col5,jdbcType=VARCHAR},
      col6 = #{col6,jdbcType=VARCHAR},
      col7 = #{col7,jdbcType=VARCHAR},
      col8 = #{col8,jdbcType=VARCHAR},
      col9 = #{col9,jdbcType=VARCHAR},
      col10 = #{col10,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      type = #{type,jdbcType=TINYINT},
      qrcodeurl = #{qrcodeurl,jdbcType=VARCHAR},
      spGroupId = #{spGroupId,jdbcType=INTEGER},
      acGroupId = #{acGroupId,jdbcType=VARCHAR},
      isFirstOrd = #{isFirstOrd,jdbcType=BIT},
      fromWho = #{fromWho,jdbcType=INTEGER},
      inviteId = #{inviteId,jdbcType=VARCHAR},
      sequenceNum = #{sequenceNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>