<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.UserRoleMapMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.UserRoleMapKey" >
    <id column="roleId" property="roleId" jdbcType="VARCHAR" />
    <id column="userId" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.corner.core.beans.UserRoleMapKey" >
    delete from UserRoleMap
    where roleId = #{roleId,jdbcType=VARCHAR}
      and userId = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.UserRoleMapKey" >
    insert into UserRoleMap (roleId, userId)
    values (#{roleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.UserRoleMapKey" >
    insert into UserRoleMap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        roleId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>