<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.UserFeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.UserFeedback" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="dealUserId" property="dealUserId" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="userContactInfo" property="userContactInfo" jdbcType="VARCHAR" />
    <result column="dealWay" property="dealWay" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, dealUserId, msg, userContactInfo, dealWay, status, isDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UserFeedback
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from UserFeedback
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.UserFeedback" >
    insert into UserFeedback (id, userId, dealUserId, 
      msg, userContactInfo, dealWay, 
      status, isDelete)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{dealUserId,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{userContactInfo,jdbcType=VARCHAR}, #{dealWay,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.UserFeedback" >
    insert into UserFeedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="dealUserId != null" >
        dealUserId,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="userContactInfo != null" >
        userContactInfo,
      </if>
      <if test="dealWay != null" >
        dealWay,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dealUserId != null" >
        #{dealUserId,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="userContactInfo != null" >
        #{userContactInfo,jdbcType=VARCHAR},
      </if>
      <if test="dealWay != null" >
        #{dealWay,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.UserFeedback" >
    update UserFeedback
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="dealUserId != null" >
        dealUserId = #{dealUserId,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="userContactInfo != null" >
        userContactInfo = #{userContactInfo,jdbcType=VARCHAR},
      </if>
      <if test="dealWay != null" >
        dealWay = #{dealWay,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.UserFeedback" >
    update UserFeedback
    set userId = #{userId,jdbcType=VARCHAR},
      dealUserId = #{dealUserId,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      userContactInfo = #{userContactInfo,jdbcType=VARCHAR},
      dealWay = #{dealWay,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>