<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.core.dao.UserRefundMapper" >
  <resultMap id="BaseResultMap" type="com.corner.core.beans.UserRefund" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
    <result column="refundApplyTime" property="refundApplyTime" jdbcType="TIMESTAMP" />
    <result column="refundGetTime" property="refundGetTime" jdbcType="TIMESTAMP" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="col1" property="col1" jdbcType="VARCHAR" />
    <result column="col2" property="col2" jdbcType="VARCHAR" />
    <result column="col3" property="col3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, orderId, refundApplyTime, refundGetTime, isDelete, remark, amount, col1, 
    col2, col3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from UserRefund
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from UserRefund
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.corner.core.beans.UserRefund" >
    insert into UserRefund (id, userId, orderId, 
      refundApplyTime, refundGetTime, isDelete, 
      remark, amount, col1, 
      col2, col3)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{refundApplyTime,jdbcType=TIMESTAMP}, #{refundGetTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, 
      #{remark,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{col1,jdbcType=VARCHAR}, 
      #{col2,jdbcType=VARCHAR}, #{col3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.corner.core.beans.UserRefund" >
    insert into UserRefund
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="refundApplyTime != null" >
        refundApplyTime,
      </if>
      <if test="refundGetTime != null" >
        refundGetTime,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="col1 != null" >
        col1,
      </if>
      <if test="col2 != null" >
        col2,
      </if>
      <if test="col3 != null" >
        col3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="refundApplyTime != null" >
        #{refundApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundGetTime != null" >
        #{refundGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="col1 != null" >
        #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null" >
        #{col3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corner.core.beans.UserRefund" >
    update UserRefund
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="refundApplyTime != null" >
        refundApplyTime = #{refundApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundGetTime != null" >
        refundGetTime = #{refundGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="col1 != null" >
        col1 = #{col1,jdbcType=VARCHAR},
      </if>
      <if test="col2 != null" >
        col2 = #{col2,jdbcType=VARCHAR},
      </if>
      <if test="col3 != null" >
        col3 = #{col3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corner.core.beans.UserRefund" >
    update UserRefund
    set userId = #{userId,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR},
      refundApplyTime = #{refundApplyTime,jdbcType=TIMESTAMP},
      refundGetTime = #{refundGetTime,jdbcType=TIMESTAMP},
      isDelete = #{isDelete,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      col1 = #{col1,jdbcType=VARCHAR},
      col2 = #{col2,jdbcType=VARCHAR},
      col3 = #{col3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>