<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.task.dao.mg.SKUActiveMgMapper">
	<sql id="getAllSKUActiveParam">
		<where>
			<if test="status != null">
				and status = #{status,jdbcType=INTEGER} 
			</if>
			<if test="beginTime != null">
				and startTime &gt;= #{beginTime}
			</if>
			<if test="endTime != null">
				and endTime &lt;= #{endTime}
			</if>
			<if test="activeName != null and activeName !=''">
				and activeName like "%"#{activeName}"%"
			</if>
		</where>
	</sql>
	<select id="getAllSKUActive" parameterType="java.util.Map" resultType="com.corner.task.beans.SKUActive">
		SELECT * FROM SKUActive
		  order by status,addTime desc 
	</select>
	<select id="getAllSKUActiveCount" parameterType="com.corner.task.beans.SKUActive" resultType="java.lang.Integer">
		SELECT
			count(1)
		FROM
			SKUActive
		<include refid="getAllSKUActiveParam"/>
	</select>
		
	<update id="updateSKUActiveStatus" parameterType="java.util.Map" >
	    <!-- 手动停止 -->
	    <if test="actype == 2">
	        update SKUActive skuA
	          set 
	            skuA.`status` = 4 
	            ,skuA.endUser = #{opUser,jdbcType=VARCHAR} 
	          where skuA.`status` = 2 
	        and skuA.id = #{id,jdbcType=VARCHAR} 
	    </if>
	    <!-- 自动停止 -->
	    <if test="actype == 3">
	        update SKUActive skuA 
	          set 
	            skuA.`status` = 3
	            ,skuA.endUser = #{opUser,jdbcType=VARCHAR} 
	          where skuA.`status` = 2 
	        and skuA.id = #{id,jdbcType=VARCHAR} 
	    </if>
	    <!-- 审批 -->
	    <if test="actype == 1">
	        update SKUActive skuA 
	          set 
	          skuA.`status` = 2 
	          ,skuA.confirmTime = NOW()
	          ,skuA.confirmUser = #{opUser,jdbcType=VARCHAR}
	         where skuA.`status` = 0 
	        and skuA.id = #{id,jdbcType=VARCHAR} 
	    </if>
	    
	</update>
	
	
	<!-- 查询详情 -->
    <select id="getSKUActiveGoodInfoByMap" parameterType="java.util.Map" resultType="com.corner.task.beans.vo.SKUActiveGoodInfoVo">
		select 
		  e.*,
		  a.SKUProPrice ,
		  a.SKUProLimitNum ,
		  a1.`name` AS provinceName,
		  a2.`name` AS cityName,
		  a3.`name` AS areaName,
		  b.id AS spGroupId,
		  b.`name` AS spGroupName,
		  c.supplierName,
		  d.mdseId,
		  d.`name` as itemBaseName
		from 
		SKUActiveGoodInfo e
		LEFT JOIN PlantItem a ON a.id = e.plantItemId AND a.isDelete = 0 AND a.goodsType = 0
		INNER JOIN SpGroup b ON a.spGroupId = b.id AND b.`status` = 1 AND b.isDelete = 0 
		INNER JOIN Supplier c ON a.spId = c.id AND c.`status` = 2 AND c.isDelete = 0 
		INNER JOIN ItemBase d ON a.itemBaseId = d.id  AND d.isDelete = 0 
		LEFT JOIN Region a1 ON a1.id = c.province AND a1.`status` = 1 AND a1.isDelete = 0
		LEFT JOIN Region a2 ON a2.id = c.city AND a2.`status` = 1 AND a2.isDelete = 0
		LEFT JOIN Region a3 ON a3.id = c.areaId AND a3.`status` = 1 AND a3.isDelete = 0
		where e.isDelete = 0  and e.SKUActiveId = #{SKUActiveId,jdbcType=VARCHAR} 
		<if test="plantItemId">
		    and e.plantItemId = #{plantItemId,jdbcType=VARCHAR}
		</if>
		order by c.province,c.city,c.areaId,a.spGroupId,a.spId
    </select>
	
	<select id="selectSKUActiveGoodInfoByActiveId" parameterType="java.util.Map" resultType="com.corner.task.beans.SKUActiveGoodInfo">
	   select * from SKUActiveGoodInfo s where s.SKUActiveId = #{SKUActiveId,jdbcType=VARCHAR} AND s.isDelete = 0
	</select>
	
	<update id="deleteSKUActiveGoodInfoById" parameterType="java.util.Map">
		update SKUActiveGoodInfo set isDelete = 1 , updateTime= NOW() where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="effecSKUActive4PlantItem" parameterType="java.util.Map" >
	    update PlantItem a 
	      set 
	        a.isSKUPromotion = 1 ,
	        a.SKUProStartTime = #{SKUProStartTime,jdbcType=TIMESTAMP} ,
	        a.SKUProEndTime = #{SKUProEndTime,jdbcType=TIMESTAMP} ,
	        a.SKUProLimitNum = #{SKUProLimitNum,jdbcType=INTEGER} ,
	        a.SKUProTotalLimitNum = #{SKUProTotalLimitNum,jdbcType=INTEGER} ,
	        a.SKUProPrice = #{SKUProPrice,jdbcType=DECIMAL} ,
	        a.`restrict` =  #{SKUProLimitNum,jdbcType=INTEGER} ,
	        a.`tagLabelId1` = #{SKUProTagId,jdbcType=VARCHAR} ,
	        a.`SKUPromotionId` = #{SKUActiveId,jdbcType=VARCHAR} 
	      where a.id = #{plantItemId,jdbcType=VARCHAR} 
	</update>
	
	<update id="invalidSKUActive4PlantItem" parameterType="java.util.Map" >
	   update PlantItem a 
	     set 
	       a.isSKUPromotion = 0 ,
	       a.SKUProStartTime = NULL ,
	       a.SKUProEndTime = NULL ,
	       a.SKUProLimitNum = 0 ,
	       a.SKUProTotalLimitNum = 0 ,
	       a.SKUProPrice = NULL , 
	       a.isSKUPromotion = 0 , 
	       a.`restrict` = 0  ,
	       a.`tagLabelId1` = NULL ,
	       a.`SKUPromotionId` = NULL
	   where a.id = #{plantItemId,jdbcType=VARCHAR} 
	</update>
	
	<select id="querySKUActivePublishTagMap" parameterType="java.util.Map" resultType="com.corner.task.beans.SKUActivePublishTagMap">
	   select 
	       sptm.* 
	       from SKUActivePublishTagMap sptm 
	   where 
	       sptm.isDelete = 0 
	       and sptm.`status` = 1 
	       and sptm.SKUActiveId = #{SKUActiveId,jdbcType=VARCHAR} 
	</select>
	
	<update id="updateSKUActiveGoodInfototalBuyNum" parameterType="java.util.Map" >
	    update SKUActiveGoodInfo 
	        set 
	            totalBuyNum = #{totalBuyNum,jdbcType=VARCHAR}
	        where 
	            SKUActiveId = #{SKUActiveId,jdbcType=VARCHAR} 
	            and plantItemId = #{plantItemId,jdbcType=VARCHAR}
	            and `status` = 1
	            and `isDelete` = 0
	</update>
	
	<select id="selectSKUActiveTaskAuth" parameterType="java.util.Map" resultType="com.corner.task.beans.vo.SystemInfoVo">
	   select * from SystemInfo s where s.id =#{id,jdbcType=VARCHAR}
	</select>
</mapper>