<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.task.dao.mg.SpWalletLogMgMapper" >
  <update id="updateWalletByLog" parameterType="com.corner.task.beans.SpWalletLog">
  	insert into SpWalletLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="geter != null" >
        geter,
      </if>
      <if test="spId != null" >
        spId,
      </if>
      <if test="actionType != null" >
        actionType,
      </if>
      <if test="optType != null" >
        optType,
      </if>
      <if test="actionTime != null" >
        actionTime,
      </if>
      <if test="tradeWay != null" >
        tradeWay,
      </if>
      <if test="tradeNo != null" >
        tradeNo,
      </if>
      <if test="bankCode != null" >
        bankCode,
      </if>
      <if test="bankNo != null" >
        bankNo,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="spWithDrawId != null" >
        spWithDrawId,
      </if>
      <if test="sheetId != null" >
        sheetId,
      </if>
      <if test="couponId != null" >
        couponId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
        money,
      	balance
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=TINYINT},
      </if>
      <if test="geter != null" >
        #{geter,jdbcType=TINYINT},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=TINYINT},
      </if>
      <if test="optType != null" >
        #{optType,jdbcType=TINYINT},
      </if>
      <if test="actionTime != null" >
        #{actionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeWay != null" >
        #{tradeWay,jdbcType=TINYINT},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankNo != null" >
        #{bankNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="spWithDrawId != null" >
        #{spWithDrawId,jdbcType=BIGINT},
      </if>
      <if test="sheetId != null" >
        #{sheetId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
        #{money,jdbcType=DECIMAL},
        (SELECT wallet from Supplier where id = #{spId,jdbcType=VARCHAR})
    </trim>
    ;UPDATE Supplier set wallet = wallet + #{money} ,walletUpdateTime = NOW() where id = #{spId}
  </update>
</mapper>