<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjjf.analysis.mapper.origin.PlantItemMapper" >
  <resultMap id="BaseResultMap" type="com.zjjf.analysis.beans.origin.items.PlantItem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="itemBaseId" property="itemBaseId" jdbcType="INTEGER" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="areaPrice" property="areaPrice" jdbcType="DECIMAL" />
    <result column="plantDisPrice" property="plantDisPrice" jdbcType="DECIMAL" />
    <result column="plantMemPrice" property="plantMemPrice" jdbcType="DECIMAL" />
    <result column="ordId" property="ordId" jdbcType="INTEGER" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="tuijian" property="tuijian" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="isDelete" property="isDelete" jdbcType="BIT" />
    <result column="maoli" property="maoli" jdbcType="DECIMAL" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="spId" property="spId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="youHui" property="youHui" jdbcType="VARCHAR" />
    <result column="restrict" property="restrict" jdbcType="INTEGER" />
    <result column="goodsStock" property="goodsStock" jdbcType="INTEGER" />
    <result column="middleStock" property="middleStock" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="clickRate" property="clickRate" jdbcType="INTEGER" />
    <result column="upper" property="upper" jdbcType="INTEGER" />
    <result column="lower" property="lower" jdbcType="INTEGER" />
    <result column="scInPrice" property="scInPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemBaseId, areaId, areaName, areaPrice, plantDisPrice, plantMemPrice, ordId, 
    addTime, updateTime, tuijian, status, isDelete, maoli, fee, spGroupId, spId, remark, 
    youHui, `restrict`, goodsStock, middleStock, sales, clickRate, upper, lower, scInPrice
  </sql>
  
  <select id="getTodayData" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" /> from `PlantItem` where DATE_FORMAT(`addTime`, '%Y%m%d') = #{yyyyMMddToday} limit #{offset}, 1000
  </select>
  
  <select id="getById" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select <include refid="Base_Column_List" /> from `PlantItem` where id = #{id}
  </select>
  
  <select id="getDipolarPrice" resultType="com.zjjf.analysis.beans.origin.items.PlantItem" parameterType="java.util.Map" >
    select max(t1.areaPrice) as "maxPrice",
    	   min(t1.areaPrice) as "minPrice", 
    	   avg(t1.areaPrice) as "averagePrice", 
    	   t1.itemBaseId as "itemId"
    	from `PlantItem` t1
    	where t1.itemBaseId = #{itemBaseId}
  </select>
  
  <select id="getItemInfo" resultType="com.zjjf.analysis.beans.origin.items.PlantItem" parameterType="java.util.Map" >
    select  
    	   t1.itemBaseId,
    	   t1.spId, 
    	   t1.spGroupId,
    	   t3.id as "classTwoId",
    	   t4.id as "classOneId",
    	   t3.name as "classTwo",
    	   t4.name as "classOne"
    	from `PlantItem` t1
      left join ItemBase t2 on t1.itemBaseId = t2.id
      left join ItemCatelog t3 on t2.cateId = t3.id 
      left join ItemCatelog t4 on t3.pid = t4.id 
    	where t1.itemBaseId = #{itemBaseId} and t1.id=#{itemId}
  </select>
  
  <select id="getDataList" resultType="com.zjjf.analysis.beans.origin.items.PlantItem" parameterType="java.util.Map" >
    select id, itembaseId, spGroupId from `PlantItem` group by id order by spGroupId limit #{offset}, 1000
  </select>
  
</mapper>