<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.kefu.dao.sp.SpProductMgMapper" >
	<update id="batchUpdatePlantItemPreBySupplierIdAndSpGroupId" parameterType="java.util.HashMap">
	    <if test="remove">
	       <foreach collection="chkList" index="index" separator=";" item="item">
		      update PlantItemPre set isDelete = 1 where spId = #{item} and spGroupId = #{spGroupId} and status !=3
		   </foreach>	
		 </if>
		 <if test="! remove">
		   <foreach collection="chkList" index="index" separator=";" item="item">
		      update PlantItemPre set isDelete = 0 where spId = #{item} and spGroupId = #{spGroupId} and status !=3
		   </foreach>
		 </if>
    </update>
    <select id="batchUpdatePlantItemBySupplierIdAndSpGroupId"
		parameterType="java.util.HashMap">
		<if test="remove">
			<foreach collection="chkList" index="index" separator=";"
				item="item">
				update PlantItem set status = 0 where spId =
				#{item} and
				spGroupId = #{spGroupId} and status !=3
			</foreach>
		</if>
		<if test="! remove">
			<foreach collection="chkList" index="index" separator=";"
				item="item">
				update PlantItem set status = 1 where spId =
				#{item} and
				spGroupId = #{spGroupId} and status !=3
			</foreach>
		</if>
	</select>
    <update id="updatePlantItemPreBySupplierIdAndSpGroupId" parameterType="java.util.HashMap">
       <if test="reomve">
	   update PlantItemPre set isDelete = 1 where spId = #{supplierId} and spGroupId = #{spGroupId} and status!=3
	  </if>
	  <if test="! reomve">
	  update PlantItemPre set isDelete = 0 where spId = #{supplierId} and spGroupId = #{spGroupId} and status!=3
	  </if>
    </update>
    <select id="updateSpProductBySupplierIdAndSpGroupId"
		parameterType="java.util.HashMap">
		<if test="reomve">
			update PlantItem set status = 0 where spId =
			#{supplierId} and
			spGroupId = #{spGroupId} and status != 3
		</if>
		<if test="! reomve">
			update PlantItem set status = 1 where spId =
			#{supplierId} and
			spGroupId = #{spGroupId} and status != 3
		</if>
	</select>
</mapper>