<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.kefu.dao.sp.SpRechargeGradeMgMapper" >
  
  
  <select id="getRechargeGradeList" resultType="com.corner.kefu.beans.vo.sp.RechargeGradeVo">
    SELECT
		a.*, b.ruleName AS voucherName,
		b.useMoney
	FROM
		RechargeGrade a
	LEFT JOIN SpVoucherTemp b ON a.spVoucherId = b.id
	order by a.id asc
  </select>
</mapper>