@charset "utf-8";
.banner-hiring{
	background:#ffebd0 url(../images/b-recrt.png) center top no-repeat;
	height: 550px;
}
.banner-inzj{
	background:#ffebd0 url(../images/b-ren.png) center top no-repeat;
	height: 549px;
}
.bg-white{
	background-color: #fff;
}
.bg-gray{
	background-color: #fafafa;
}
.bg-gray2{
	background-color: #f0f0f0;
}
.bg-gray3{
	background-color: #f2f2f2;
}
.bg-gray4{
	background-color: #f9f9f9;
}
.bg-orange{
	background-color: #ed4b1c;
}
.bg-yellow{
	background-color: #fdab52;
}
.orange{
	color: #ed4b1c;
}
.green{
	color: #8ed200;
}
.blue{
	color: #007be4;
}
.hidden{
	display:none;
}
.index-main{
	height: 488px;
}
.index-main img{
	width: 100%;
}
.txt01{
	position: absolute;
	top: 25%;
	left: 3%;
	width: 31%;
}
.img01{
	width: 37%;
	float: right;
	margin: 7.3% 4%;
}
.img02{
	margin: 8.1% 3%;
	float: left;
	width: 37%
}
.txt02{
	width: 31%;
	float: right;
	margin: 12% 0;
}
.img03{
	width: 58%;
	float: right;
	margin: 5% 0%;
}
.subnav{
	height: 45px;
	line-height: 45px;
	background: #fffbf6;
}
.subnav a{
	display: inline-block;
	width: 152px;
	font-size:16px;
	cursor:pointer
}

/* 街坊招聘 */
.recruit{
	font-size: 14px;
	padding: 48px 0;
}
.recruit .am-nav{
	border: none;
}
.recruit .am-nav .tab-name{
	text-align: center;
	padding: 30px 48px 10px;
	color: #5e5e5e;
	border: 2px solid #fff;
}
.recruit .am-nav li span{
	display: block;
	font-size: 18px;
	padding: 15px 0 20px;
}
.recruit .am-nav-tabs .tab-name:hover{
	border: 2px solid #fff6e9;
	background-color: #fff;
	cursor: pointer;
}
.recruit .am-nav .curr{
	background-color: #fff6e9;
	border: 2px solid #fff6e9;
	color: #e8490c;
}
/* .recruit .am-nav .am-active>a{
	background-color: #fff6e9;
	border: 2px solid #fff6e9;
	color: #e8490c;
} */
.recruit .am-nav .curr:hover,
.recruit .am-nav .curr:active,
.recruit .am-nav .curr:focus{
	border: 2px solid #fff6e9;
	background-color: #fff6e9;
	color: #e8490c;
	outline: none;
}
/* -----tab切换按钮样式结束------ */
.recruit .am-tabs-bd{
	border: none;
	padding: 30px;
	background-color: #fff6e9;
}
.recruit-main .tab-panel .job-name{
	display: inline-block;
	color: #333;
	width: 150px;
	height: 38px;
	line-height: 1.8;
	text-align: center;
	border: 2px solid #ffe9c9;
}
.recruit-main .tab-panel h3{
	margin: -2px 0 -5px;
	padding-left:16px; 
}
.recruit-main .tab-panel p{
	padding-left:16px; 
	line-height: 1.8;
}
.recruit .r-contact{
	background-color: #ffe9c9;
	padding: 30px 60px;
}
.recruit .r-contact span{
	color: #ed4b1c;
	font-size: 18px;
	padding-right: 50px;
}

/* 人在街坊 */
.ren-main{
	padding: 50px 0;
}
.ren-main #nav {
	display:block;
	width:100%;
	padding:0;
	margin: 0 0 35px;;
	list-style:none;
	overflow: hidden;
}
.ren-main #nav li {
	float:left;
	width:130px;
	margin-right: 25px;
}
.ren-main #nav li .tab-name {
	display:block;
	height: 45px;
	line-height:2.6;
	padding:0 0 0 5px; 
	text-align:center; 
	border: 1px solid #ed4b1c;
	border-radius: 35px;
	font-size: 16px;
	cursor: pointer;
}
.ren-main .tag{ 
	padding:10px 30px; 
	overflow:hidden;
}
.ren-main #nav .selected{
	background:#ed4b1c; 
	color:#fff;
}

#menu_con .r-txt01{
	background: #febf51 url(../images/r-bg01.jpg) center center no-repeat;
	padding: 50px 60px;
	height: 132px;
	font-size: 20px;
	color: #fff;
	margin-bottom: 5px;
}
#menu_con .r-txt02{
	background: #ed4b1c url(../images/r-bg02.jpg) center center no-repeat;
}
#menu_con .r-txt03{
	background: #fdab52 url(../images/r-bg03.jpg) center center no-repeat;
}
#menu_con .r-txt04{
	background: #fdab52 url(../images/r-bg04.jpg) center center no-repeat;
	padding: 38px 0;
    text-align: center;
}
#menu_con .r-txt05{
	background: #fdab52 url(../images/r-bg05.jpg) center center no-repeat;
	padding: 38px 0;
    text-align: center;
}
#menu_con .r-txt06{
	background: #febf51 url(../images/r-bg06.jpg) center center no-repeat;
	padding: 36px 60px;
}
#menu_con .r-txt07{
	background: #febf51 url(../images/r-bg07.jpg) center center no-repeat;
	padding: 26px 60px;
}
#menu_con .act-txt01{
	text-align: center;
}
#menu_con .act-txt05{
	text-align: center;
	padding: 50px 60px;
}
.pic-box {
	width: 945px;
	margin-bottom: 45px;
	overflow: hidden;
}
.pic-box .cols {
	float: left;
	margin-right: 5px;
	display: inline;
	height: 474px;
	overflow: hidden;
}
.pic-box .cols .pic {
	float: left;
	position: relative;
}
.pic-box .cols .active-txt{
	width: 207px;
	height: 234px;
	font-size: 20px;
	text-align: center;
	line-height: 234px;
	color: #fff;
}
.pic-box .cols .act-txt01{
	background: #ed4b1c url(../images/r-bg08.gif) center center no-repeat;
}
.pic-box .cols .act-txt02{
	background: #ed4b1c url(../images/r-bg09.gif) center center no-repeat;
}
.pic-box .cols .act-txt03{
	background: #ed4b1c url(../images/r-bg10.gif) center center no-repeat;
}
.pic-box .cols .act-txt04{
	background: #ed4b1c url(../images/r-bg11.gif) center center no-repeat;
}
.pic-box .cols .row{
	overflow: hidden;
}
.pic-box .cols1 {
	width: 292px;
}
.pic-box .cols2 {
	width: 644px;
	margin: 0;
}
.pic-box .cols2 .pic {
	margin: 0 5px 5px 0;
}
.pic-box .cols2 .pic-right{
	margin: 0;
}
.pic-box2 .cols2{
	width: 648px;
}
.pic-box .cols .pic .black{
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color:#000000;
	filter:Alpha(opacity=30); 
	background: rgba(0,0,0,.3);
	position: absolute;
    bottom: 0;
    left: 0;
}
.pic-box .cols .pic a:hover .black{
	background-color:#000000;
	filter:Alpha(opacity=70); 
	background: rgba(0,0,0,.7);
}
/* 文字 */
.txt-box {
	width: 945px;
	margin-bottom: 5px;
	font-size: 18px;
    color: #fff;
	overflow: hidden;
}
.txt-box .cols {
	float: left;
	margin-right: 5px;
	display: inline;
	height: 203px;
	overflow: hidden;
}
.txt-box .cols .f-txt01 {
	margin: 56px 60px;
}
.txt-box .cols .f-txt02 {
	margin: 45px 0px;
    text-align: center;
}
.pic-box .cols .row{
	overflow: hidden;
}
.txt-box .cols1 {
	width: 507px;
}
.txt-box .cols2 {
	width: 164px;
}
.txt-box .cols3{
	width: 258px;
	height: 99px;
	margin: 0 0 5px 0;
}
.txt-box .cols3 .pic {
	margin: 0 5px 5px 0;
}
.txt-box .cols3 .pic-right{
	margin: 0;
}

/* 提交成功 */
.caption{
	text-align: center;
	margin: 0 30px;
	border-radius: 10px;
	padding: 10px 35px;
	position: relative;
	margin-top: 40px;
}
.caption .iconfont{
	font-size:36px;
	color:#92c33c;
}
.caption h3{
	font-size: 26px;
	color: #333;
}
.caption .suc-img{
	margin-right: 10px;
}
.caption h4{
	font-size: 20px;
	color: #ed4b1c;
	margin-bottom: 10px;
	line-height: 1.5;
	font-weight: normal;
}
.caption p{
	color: #666;
	font-size: 18px;
	line-height: .8;
	margin: 15px 0;
}
.caption .ajie{
	width: 50px;
	position: absolute;
	bottom: -10px;
	right: -14px;
}
.go-shopping{
	margin: 45px 0 12px;
}
.c-tip{
	margin: 150px 0 20px;
}
.c-tip p{
	font-size: 14px;
}
#zztjp a{
	color: #F0F0F0;
}