<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjjf.analysis.mapper.analysis.ScOrderMapper" >
  <resultMap id="BaseResultMap" type="com.zjjf.analysis.beans.analysis.orders.SupportOrderPage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityId" property="cityId" jdbcType="INTEGER" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="storeId" property="storeId" jdbcType="INTEGER" />
    <result column="addTime" property="addTime" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
    <result column="chirdOrderNo" property="chirdOrderNo" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="INTEGER" />
    <result column="goodsPrice" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="freight" property="freight" jdbcType="DECIMAL" />
    <result column="payMoney" property="payMoney" jdbcType="DECIMAL" />
    <result column="coupon" property="coupon" jdbcType="DECIMAL" />
    <result column="rebate" property="rebate" jdbcType="DECIMAL" />
    <result column="orderPrice" property="orderPrice" jdbcType="DECIMAL" />
    <result column="supportmetho" property="supportmetho" jdbcType="INTEGER" />
    <result column="supportStatus" property="supportStatus" jdbcType="INTEGER" />
    <result column="supplierId" property="supplierId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createTime" jdbcType="INTEGER" />
    
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="spGroupName" property="spGroupName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="scSupportmetho" property="scSupportmetho" jdbcType="VARCHAR" />
    <result column="scStatus" property="scStatus" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, cityId, areaId, storeId, spGroupId, addTime, orderNo, chirdOrderNo, quantity, sku, goodsPrice, freight, payMoney, 
    coupon, rebate, orderPrice, supportmetho, supportStatus, supplierId, status, 
    updateTime, createTime
  </sql>
  
  <select id="getOrderByOrderId" resultType="java.util.Map" parameterType="java.util.Map" >
	  select 
			t2.name as "cityName",
			t3.name as "areaName",
			t1.`addTime`,
			case
			    when t1.`supportmetho` = 1
			    then '快钱支付'
			    when t1.`supportmetho` = 2
			    then '货到付款'
			    when t1.`supportmetho` = 3
			    then '支付宝支付'
			    when t1.`supportmetho` = 4
			    then '微信支付'
			    else '' 
			end as "scSupportmetho",
			t1.supportmetho,
			t1.orderNo,
			t1.orderPrice,
			t1.sku,
			t1.quantity,
			t1.status,
			case
			    when t1.`status` = 1
			    then '已下单'
			    when t1.`status` = 2
			    then '已派单'
			    when t1.`status` = 3
			    then '已提单'
			    when t1.`status` = 4
			    then '已打印'
			    when t1.`status` = 5
			    then '已送达'
			    when t1.`status` = 6
			    then '已取消' 
			    else '' 
			end as "scStatus",
			t4.supplierName,
			t4.managerTel as "mobile",
			t4.supplierAddress,
			t4.supplierName
		from analysis_scorderinfo t1 
		left join base_region t2 on t2.id =t1.cityId
		left join base_region t3 on t3.id =t1.areaId
		left join base_supplier t4 on t4.org_pk_id = t1.supplierId
		where t1.orderNo = #{orderId} limit 1
   </select>
    
  <select id="getOrderData" resultType="com.zjjf.analysis.beans.vo.orders.scorder.ScOrderVo" parameterType="java.util.Map" >
	  select 
			t2.name as "cityName",
			t3.name as "areaName",
			t1.`addTime`,
			case
			    when t1.`supportmetho` = 1
			    then '快钱支付'
			    when t1.`supportmetho` = 2
			    then '货到付款'
			    when t1.`supportmetho` = 3
			    then '支付宝支付'
			    when t1.`supportmetho` = 4
			    then '微信支付'
			    else '' 
			end as "scSupportmetho",
			t1.supportmetho,
			t1.orderNo,
			t1.orderPrice,
			t1.sku,
			t1.quantity,
			t1.status,
			case
			    when t1.`status` = 1
			    then '已下单'
			    when t1.`status` = 2
			    then '已派单'
			    when t1.`status` = 3
			    then '已提单'
			    when t1.`status` = 4
			    then '已打印'
			    when t1.`status` = 5
			    then '已送达'
			    when t1.`status` = 6
			    then '已取消' 
			    else '' 
			end as "scStatus",
			t1.ackTime,
			t4.supplierName,
			t4.managerTel as "mobile",
			t4.supplierAddress,
			t4.supplierName
		from analysis_scorderinfo t1 
		left join base_region t2 on t2.id =t1.cityId
		left join base_region t3 on t3.id =t1.areaId
		left join base_supplier t4 on t4.org_pk_id = t1.supplierId
		<where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supportmetho != null and supportmetho != '' " >
	      	and t1.supportmetho = #{supportmetho}
	      </if>
	      <if test="supportStatus != null and supportStatus != '' " >
	      	and t1.supportStatus = #{supportStatus}
	      </if>
	      <if test="status != null and status != '' " >
	      	and t1.status = #{status}
	      </if>
	      <if test="orderNos != null and orderNos != '' " >
	      	and (t1.chirdOrderNo like "%"#{orderNos}"%" or t1.orderNo like "%"#{orderNos}"%")
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t4.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="addTimeBegin != null and addTimeBegin != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &gt;= #{addTimeBegin}
	      </if>
	      <if test="addTimeEnd != null and addTimeEnd != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &lt;= #{addTimeEnd}
	      </if>
	    </where>
	  order by t1.cityId, t1.areaId, t1.id desc  limit #{pageNo}, #{offset}
   </select>
  
   <select id="getTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
	  select count(*)
		from analysis_scorderinfo t1 
		left join base_region t2 on t2.id =t1.cityId
		left join base_region t3 on t3.id =t1.areaId
		left join base_supplier t4 on t4.org_pk_id = t1.supplierId
		<where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supportmetho != null and supportmetho != '' " >
	      	and t1.supportmetho = #{supportmetho}
	      </if>
	      <if test="supportStatus != null and supportStatus != '' " >
	      	and t1.supportStatus = #{supportStatus}
	      </if>
	      <if test="status != null and status != '' " >
	      	and t1.status = #{status}
	      </if>
	      <if test="orderNos != null and orderNos != '' " >
	      	and (t1.chirdOrderNo like "%"#{orderNos}"%" or t1.orderNo like "%"#{orderNos}"%")
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t4.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="addTimeBegin != null and addTimeBegin != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &gt;= #{addTimeBegin}
	      </if>
	      <if test="addTimeEnd != null and addTimeEnd != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &lt;= #{addTimeEnd}
	      </if>
	    </where>
   </select>
  
   <select id="getExcelData" resultType="com.zjjf.analysis.beans.vo.orders.scorder.ScOrderVo" parameterType="java.util.Map" >
	  select 
			t2.name as "cityName",
			t3.name as "areaName",
			t1.`addTime`,
			case
			    when t1.`supportmetho` = 1
			    then '快钱支付'
			    when t1.`supportmetho` = 2
			    then '货到付款'
			    when t1.`supportmetho` = 3
			    then '支付宝支付'
			    when t1.`supportmetho` = 4
			    then '微信支付'
			    else '' 
			end as "scSupportmetho",
			t1.supportmetho,
			t1.orderNo,
			t1.orderPrice,
			t1.sku,
			t1.quantity,
			t1.status,
			case
			    when t1.`status` = 1
			    then '已下单'
			    when t1.`status` = 2
			    then '已派单'
			    when t1.`status` = 3
			    then '已提单'
			    when t1.`status` = 4
			    then '已打印'
			    when t1.`status` = 5
			    then '已送达'
			    when t1.`status` = 6
			    then '已取消' 
			    else '' 
			end as "scStatus",
			t4.supplierName,
			t4.managerTel as "mobile",
			t4.supplierAddress,
			t4.supplierName
		from analysis_scorderinfo t1 
		left join base_region t2 on t2.id =t1.cityId
		left join base_region t3 on t3.id =t1.areaId
		left join base_supplier t4 on t4.org_pk_id = t1.supplierId
		<where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	       <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supportmetho != null and supportmetho != '' " >
	      	and t1.supportmetho = #{supportmetho}
	      </if>
	      <if test="supportStatus != null and supportStatus != '' " >
	      	and t1.supportStatus = #{supportStatus}
	      </if>
	      <if test="status != null and status != '' " >
	      	and t1.status = #{status}
	      </if>
	      <if test="orderNos != null and orderNos != '' " >
	      	and (t1.chirdOrderNo like "%"#{orderNos}"%" or t1.orderNo like "%"#{orderNos}"%")
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t4.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="addTimeBegin != null and addTimeBegin != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &gt;= #{addTimeBegin}
	      </if>
	      <if test="addTimeEnd != null and addTimeEnd != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &lt;= #{addTimeEnd}
	      </if>
	    </where>
	  order by t1.cityId, t1.areaId, t1.id desc  limit 10000
  </select>
  
  <select id="getOrderMummary" resultType="com.zjjf.analysis.beans.vo.orders.scorder.ScOrderVo" parameterType="java.util.Map" >
	 select 
		sum(t1.orderPrice)  as "orderPriceSum"
		from analysis_scorderinfo t1 
		left join base_region t2 on t2.id =t1.cityId
		left join base_region t3 on t3.id =t1.areaId
		left join base_supplier t4 on t4.org_pk_id = t1.supplierId
		<where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supportmetho != null and supportmetho != '' " >
	      	and t1.supportmetho = #{supportmetho}
	      </if>
	      <if test="supportStatus != null and supportStatus != '' " >
	      	and t1.supportStatus = #{supportStatus}
	      </if>
	      <if test="status != null and status != '' " >
	      	and t1.status = #{status}
	      </if>
	      <if test="orderNos != null and orderNos != '' " >
	      	and (t1.chirdOrderNo like "%"#{orderNos}"%" or t1.orderNo like "%"#{orderNos}"%")
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t4.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="addTimeBegin != null and addTimeBegin != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &gt;= #{addTimeBegin}
	      </if>
	      <if test="addTimeEnd != null and addTimeEnd != '' " >
	      	and DATE_FORMAT(t1.addTime, '%Y-%m-%d') &lt;= #{addTimeEnd}
	      </if>
	    </where>
  </select>
  
</mapper>