<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjjf.analysis.mapper.analysis.SpGroupDailyMapper" >
  <resultMap id="BaseResultMap" type="com.zjjf.analysis.beans.analysis.supplier.SpGroupDaily" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="dayTime" property="dayTime" jdbcType="INTEGER" />
    <result column="turnover" property="turnover" jdbcType="DECIMAL" />
    <result column="totalRebate" property="totalRebate" jdbcType="DECIMAL" />
    <result column="totalCoupon" property="totalCoupon" jdbcType="DECIMAL" />
    <result column="totalFreight" property="totalFreight" jdbcType="DECIMAL" />
    <result column="orderCount" property="orderCount" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="storeOrderCount" property="storeOrderCount" jdbcType="INTEGER" />
    <result column="newRegStoreOrdercount" property="newRegStoreOrdercount" jdbcType="INTEGER" />
    <result column="cityId" property="cityId" jdbcType="INTEGER" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="INTEGER" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, spGroupId, dayTime, turnover, totalRebate, totalCoupon, totalFreight, orderCount, 
    sku, quantity, storeOrderCount, newRegStoreOrdercount, cityId, areaId, createTime, 
    updateTime
  </sql>
  
  <select id="getDataSum" resultType="com.zjjf.analysis.beans.analysis.supplier.SpGroupDailyReport" parameterType="java.util.Map" >
	 select sum(todayAddReg) as "todayAddReg", 
	 	    sum(storeOrderCount) as "storeOrderCount",  
	 	    sum(orderCount) as "orderCount", 
	        sum(storeOrderCount - newRegStoreOrdercount) as "todayMaintain", 
	        sum(newRegStoreOrdercount) as "todayAddActive",
	        sum(totalStore) as "totalStore",
	        sum(unorderStore) as "unorderStore"
	     from spgroup_daily 
		   <where>
		      <if test="spGroupId != null and spGroupId != '' " >
		      	and spGroupId = #{spGroupId}
		      </if>
		      <if test="dayTimeBegin != null and dayTimeBegin != '' " >
		      	and dayTime &gt;= #{dayTimeBegin}
		      </if>
		      <if test="dayTimeEnd != null and dayTimeEnd != '' " >
		      	and dayTime &lt;= #{dayTimeEnd}
		      </if>
		      <if test="dayTime != null and dayTime != '' " >
		      	and dayTime = #{dayTime}
		      </if>
		  </where>
  </select>
  
  <select id="getMonthData" resultType="com.zjjf.analysis.beans.analysis.supplier.SpGroupDailyReport" parameterType="java.util.Map" >
	 select sum(storeOrderCount) as "monthActive", sum(newRegStoreOrdercount) as "monthRegister",  sum(turnover) as "totalTerminal" from spgroup_daily 
	   where spGroupId =#{spGroupId} and dayTime &gt;= #{dayTimeBegin} and dayTime &lt;= #{dayTimeEnd}
  </select>
  
  <select id="getYesTodayData" resultType="com.zjjf.analysis.beans.analysis.supplier.SpGroupDailyReport" parameterType="java.util.Map" >
	 select todayAddReg as "yestodayAddReg", storeOrderCount as "yestodayStoreOrderCount",  (storeOrderCount - newRegStoreOrdercount) as "yestodayMaintain", newRegStoreOrdercount as "yestodayAddActive" from spgroup_daily 
	   where spGroupId =#{spGroupId} and dayTime=#{dayTime} 
  </select>
  
  <select id="getReportData" resultType="com.zjjf.analysis.beans.analysis.supplier.SpGroupDailyReport" parameterType="java.util.Map" >
  	   select  
	      t1.cityId,
	      t1.areaId,
	      t1.spGroupId,
	      t1.todayAddReg,
	      (t1.storeOrderCount - t1.newRegStoreOrdercount) as "todayMaintain",
	      t1.storeOrderCount,
	      t1.newRegStoreOrdercount as "todayAddActive",
	      t1.dayTime,
	      t1.monthReg,
	      t1.monthRegIncrease,
	      t1.monthActive,
	      t1.monthAddActive,
	      t1.monthActiveIncrease,
	      t1.totalStore,
	      t1.unorderStore,
	      t1.monthGoalReg,
	      t1.monthGoalActive
        from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTime != null and dayTime != '' " >
	      	and t1.dayTime = #{dayTime}
	      </if>
	      order by t1.cityId, t1.areaId, t1.id desc limit #{pageNo}, #{offset}
	  </where>
  </select>
  
  <select id="getReportDataCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
  	   select  
	      count(*)
        from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTime != null and dayTime != '' " >
	      	and t1.dayTime = #{dayTime}
	      </if>
	  </where>
  </select>
  
  <select id="getReportDataExcel" resultType="com.zjjf.analysis.beans.analysis.supplier.SpGroupDailyReport" parameterType="java.util.Map" >
  	   select  
	      t1.cityId,
	      t1.areaId,
	      t1.spGroupId,
	      t1.todayAddReg,
	      (t1.storeOrderCount - t1.newRegStoreOrdercount) as "todayMaintain",
	      t1.storeOrderCount,
	      t1.newRegStoreOrdercount as "todayAddActive",
	      t1.dayTime,
	      t1.monthReg,
	      t1.monthRegIncrease,
	      t1.monthActive,
	      t1.monthActiveIncrease,
	      t1.totalStore,
	      t1.unorderStore,
	      t1.monthGoalReg,
	      t1.monthGoalActive
        from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTime != null and dayTime != '' " >
	      	and t1.dayTime = #{dayTime}
	      </if>
	      order by t1.cityId, t1.areaId, t1.id desc limit 10000
	  </where>
  </select>
  
  
  <select id="getData" resultType="com.zjjf.analysis.beans.analysis.supplier.StoreAnalysis" parameterType="java.util.Map" >
  	   select  
	      t1.cityId,
	      t1.areaId,
	      t1.spGroupId,
	      sum(t1.orderCount) as "orderCount",
	      sum(t1.turnover) as "turnover",
	      sum(t1.storeOrderCount) as "storeOrderCount",
          t1.updateTime, 
    	  t1.createTime
        from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTimeBegin != null and dayTimeBegin != '' " >
	      	and t1.dayTime &gt;= #{dayTimeBegin}
	      </if>
	      <if test="dayTimeEnd != null and dayTimeEnd != '' " >
	      	and t1.dayTime &lt;= #{dayTimeEnd}
	      </if>
	      group by t1.spGroupId order by t1.cityId, t1.areaId, t1.id desc limit #{pageNo}, #{offset}
	  </where>
  </select>
  
  <select id="getDataNoPage" resultType="com.zjjf.analysis.beans.analysis.supplier.StoreAnalysis" parameterType="java.util.Map" >
  	   select  
	      t1.cityId,
	      t1.areaId,
	      t1.spGroupId,
	      sum(t1.orderCount) as "orderCount",
	      sum(t1.turnover) as "turnover",
	      sum(t1.storeOrderCount) as "storeOrderCount",
          t1.updateTime, 
    	  t1.createTime
        from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTimeBegin != null and dayTimeBegin != '' " >
	      	and t1.dayTime &gt;= #{dayTimeBegin}
	      </if>
	      <if test="dayTimeEnd != null and dayTimeEnd != '' " >
	      	and t1.dayTime &lt;= #{dayTimeEnd}
	      </if>
	      group by t1.spGroupId order by t1.cityId, t1.areaId, t1.id desc
	  </where>
  </select>
  
  <select id="getDataCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
     select count(u.a) from (
	      select count(*) as "a" from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTimeBegin != null and dayTimeBegin != '' " >
	      	and t1.dayTime &gt;= #{dayTimeBegin}
	      </if>
	      <if test="dayTimeEnd != null and dayTimeEnd != '' " >
	      	and t1.dayTime &lt;= #{dayTimeEnd}
	      </if>
	      group by t1.spGroupId ) u
	  </where>
  </select>
  
  <select id="getDataExcel" resultType="com.zjjf.analysis.beans.analysis.supplier.StoreAnalysis" parameterType="java.util.Map" >
    select  
	      t1.cityId,
	      t1.areaId,
	      t1.spGroupId,
	      sum(t1.turnover) as "turnover",
	      sum(t1.storeOrderCount) as "storeOrderCount",
	      round(avg(t1.storeOrderCount), 2) as "avgOrderCount",
          round(avg(t1.turnover), 2) as "avgTurnover",
          t1.updateTime, 
    	  t1.createTime
        from spgroup_daily t1
        <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="dayTimeBegin != null and dayTimeBegin != '' " >
	      	and t1.dayTime &gt;= #{dayTimeBegin}
	      </if>
	      <if test="dayTimeEnd != null and dayTimeEnd != '' " >
	      	and t1.dayTime &lt;= #{dayTimeEnd}
	      </if>
	      group by t1.spGroupId order by t1.cityId, t1.areaId, t1.id desc limit 10000
	  </where>
  </select>
  
</mapper>