<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjjf.analysis.mapper.analysis.SupplierDailyMapper" >
  <resultMap id="BaseResultMap" type="com.zjjf.analysis.beans.analysis.supplier.SupplierDaily" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="supplierId" property="supplierId" jdbcType="VARCHAR" />
    <result column="spGroupId" property="spGroupId" jdbcType="INTEGER" />
    <result column="dayTime" property="dayTime" jdbcType="INTEGER" />
    <result column="turnover" property="turnover" jdbcType="DECIMAL" />
    <result column="totalRebate" property="totalRebate" jdbcType="DECIMAL" />
    <result column="totalCoupon" property="totalCoupon" jdbcType="DECIMAL" />
    <result column="totalFreight" property="totalFreight" jdbcType="DECIMAL" />
    <result column="orderCount" property="orderCount" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="newRegistered" property="newRegistered" jdbcType="INTEGER" />
    <result column="deliveryTimes" property="deliveryTimes" jdbcType="INTEGER" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createTime" jdbcType="INTEGER" />
    <result column="cityId" property="cityId" jdbcType="INTEGER" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
    <result column="areaId" property="areaId" jdbcType="INTEGER" />
    <result column="areaName" property="areaName" jdbcType="VARCHAR" />
    <result column="spGroupName" property="spGroupName" jdbcType="VARCHAR" />
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, supplierId, spGroupId, dayTime, turnover, totalRebate, totalCoupon, totalFreight, 
    orderCount, sku, quantity, newRegistered, deliveryTimes, updateTime, createTime, 
    cityId, cityName, areaId, areaName, spGroupName, supplierName
  </sql>
  
  <select id="getMonthData" resultType="com.zjjf.analysis.beans.analysis.supplier.SaleDaily" parameterType="java.util.Map" >
	 select sum(turnover) as "SumMonth", sum(totalRebate + totalCoupon + totalFreight) as "totalFee" from supplier_daily 
	   where supplierId = #{supplierId} and spGroupId =#{spGroupId} and dayTime &gt;= #{dayTimeBegin} and dayTime &lt;= #{dayTimeEnd}
  </select>
  
  <select id="getYesTodayData" resultType="com.zjjf.analysis.beans.analysis.supplier.SaleDaily" parameterType="java.util.Map" >
	 select turnover as "yesTodayturnover", (totalRebate + totalCoupon + totalFreight) as "fee", orderCount from supplier_daily 
	   where supplierId = #{supplierId} and spGroupId =#{spGroupId} and dayTime=#{dayTime} 
  </select>
  
  <select id="getData" resultType="com.zjjf.analysis.beans.analysis.supplier.SaleDaily" parameterType="java.util.Map" >
	   select 
	      cityId,
	      areaId,
	      spGroupId,
	      supplierId,
		  cityName,
		  areaName,
		  supplierName,
		  spGroupName,
		  turnover,
		  (totalRebate + totalCoupon + totalFreight) as "fee",
		  orderCount,
		  dayTime
		from
		  supplier_daily t1
	   <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t1.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="dayTime != null and dayTime != '' " >
	      	and t1.dayTime = #{dayTime}
	      </if>
	      order by t1.cityId, t1.areaId, t1.id desc limit #{pageNo}, #{offset}
	  </where>
  </select>
  
  <select id="getDataCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
	   select count(*) from supplier_daily t1
	   <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t1.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="dayTime != null and dayTime != '' " >
	      	and t1.dayTime = #{dayTime}
	      </if>
	  </where>
  </select>
  
  <select id="getDataExcel" resultType="com.zjjf.analysis.beans.analysis.supplier.SaleDaily" parameterType="java.util.Map" >
	   select 
	      cityId,
	      areaId,
	      spGroupId,
	      supplierId,
		  cityName,
		  areaName,
		  supplierName,
		  spGroupName,
		  turnover,
		  (totalRebate + totalCoupon + totalFreight) as "fee",
		  orderCount,
		  dayTime
		from
		  supplier_daily t1
	   <where>
	      <if test="areaIdList != null and areaIdList != '' " >
  		  	  and t1.areaId in 
	          <foreach collection="areaIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
	      <if test="cityIdList != null and cityIdList != '' " >
  		  	  and t1.cityId in 
	          <foreach collection="cityIdList" index="index" item="item" open="(" separator="," close=")">
	            #{item}
	          </foreach> 
	      </if>
		  <if test="areaId != null and areaId != '' " >
	      	and t1.areaId = #{areaId}
	      </if>
	      <if test="cityId != null and cityId != '' " >
	      	and t1.cityId = #{cityId}
	      </if>
	      <if test="spGroupId != null and spGroupId != '' " >
	      	and t1.spGroupId = #{spGroupId}
	      </if>
	      <if test="supplierName != null and supplierName != '' " >
	      	and t1.supplierName like "%"#{supplierName}"%"
	      </if>
	      <if test="dayTime != null and dayTime != '' " >
	      	and t1.dayTime = #{dayTime}
	      </if>
	      order by t1.cityId, t1.areaId, t1.id desc limit 10000
	  </where>
  </select>
  
  <select id="getSupplierData" resultMap="BaseResultMap" parameterType="java.util.Map" >
   select 
	  cityName,
	  areaName,
	  supplierName,
	  sum(turnover) as "turnover"
	from
	  supplier_daily group by supplierId
  </select>

</mapper>