<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	<typeAliases>
		<package name="com.corner.core.beans"/>
		<package name="com.corner.kefu.beans"/>
	</typeAliases>
	<mappers>
		<package name="com.corner.core.beans.mapper"/>
		<package name="com.corner.kefu.mapper"/>
	</mappers>
</configuration>
