<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.kefu.dao.ConfigPayMgMapper">
<sql id="pageSql">
	<if test="pageIndex != null">
		limit #{pageIndex},#{pageSize}
	</if>
</sql>

<!-- 根据id获取支付方式 -->
<select id="getSystemConfigDetailById" parameterType="com.corner.kefu.beans.ro.ConfigPayRo" resultType="com.corner.kefu.beans.vo.ConfigPayVo">
	select * from ConfigPay where status=1 and isDelete=0
	<choose>
		<when test="payType != null">
			and payType = #{payType}
		</when>
		<otherwise>
			and payType = 0
		</otherwise>
	</choose>
	<if test="configId != null">
		and configId = #{configId}
	</if>
</select>

<!-- 查询支付方式是否存在 -->
<select id="getSystemConfigDetailByPayType" parameterType="java.util.Map" resultType="java.lang.Integer">
	SELECT
		COUNT(1)
	FROM
		ConfigPay
	WHERE
		`status` = 1
	AND isDelete = 0
	AND payType = #{payType}
	AND configId = #{configId}
</select>
	
<update id="updateSystemConfigDetailByPayType" parameterType="com.corner.kefu.beans.ro.ConfigPayRo" >
    update ConfigPay
    <set >
      <if test="selectType != null" >
        selectType = #{selectType,jdbcType=TINYINT},
      </if>
      <if test="spGroupIds != null" >
        spGroupIds = #{spGroupIds,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    <where>
        configId = #{configId,jdbcType=INTEGER}
        AND payType = #{payType,jdbcType=TINYINT}
    </where> 
</update>
</mapper>
