<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corner.scms.dao.SpVoucherGradedMgMapper" >


  
  <resultMap id="GradeVoMap" type="com.corner.scms.beans.vo.SpVoucherGradedVo">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activeId" property="activeId" jdbcType="INTEGER" />
    <result column="tempId" property="tempId" jdbcType="INTEGER" />
    <result column="sendLimit" property="sendLimit" jdbcType="TINYINT" />
    <result column="startPrice" property="startPrice" jdbcType="DECIMAL" />
    <association property="spVoucherTemp" javaType="com.corner.core.beans.SpVoucherTemp">
        <id column="voucherTempId" property="id" jdbcType="INTEGER" />
	    <result column="ruleName" property="ruleName" jdbcType="VARCHAR" />
	    <result column="useMoney" property="useMoney" jdbcType="DECIMAL" />
	    <result column="useDay" property="useDay" jdbcType="TINYINT" />
	    <result column="tempStartPrice" property="startPrice" jdbcType="DECIMAL" />
    </association>
  </resultMap>
 
  
  <select id="getListByActiveId" parameterType="com.corner.core.beans.SpVoucherActive" resultMap="GradeVoMap">
    SELECT
        a.id,
		a.startPrice,
		a.sendLimit,
		a.tempId,
		b.id as voucherTempId,
		b.ruleName,
		b.useMoney,
		b.useDay,
		b.startPrice as tempStartPrice
	FROM
		(
			SELECT
				*
			FROM
				SpVoucherGraded
			WHERE
				activeId = #{id}
		) a
	JOIN SpVoucherTemp b ON a.tempId = b.id
	order by a.id,b.id
  </select>
</mapper>