<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-kafka="http://www.springframework.org/schema/integration/kafka"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/integration/kafka
       http://www.springframework.org/schema/integration/kafka/spring-integration-kafka.xsd
       ">
       
    <int:channel id="inputFromKafka"/>



    <int-kafka:inbound-channel-adapter
            id="kafkaInboundChannelAdapter"
            kafka-consumer-context-ref="consumerContext"
            auto-startup="true"
            channel="inputFromKafka">
        <int:poller fixed-delay="1" time-unit="MILLISECONDS"/>
    </int-kafka:inbound-channel-adapter>

    <bean id="kafkaDecoder" class="org.springframework.integration.kafka.serializer.common.StringDecoder"></bean>

    <bean id="consumerProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="auto.offset.reset">smallest</prop>
                <prop key="socket.receive.buffer.bytes">10485760</prop> <!-- 10M -->
                <prop key="fetch.message.max.bytes">5242880</prop>
                <prop key="auto.commit.interval.ms">1000</prop>
            </props>
        </property>
    </bean>

    <!-- <bean id="kafKaManager" class="com.bestpay.posprouter.manager.util.KafKaManager"></bean> -->
    <bean id="kafKaManager" class="com.corner.kafka.service.impl.KafKaManager"/>

    <int:outbound-channel-adapter channel="inputFromKafka" ref="kafKaManager" method="processMessage"/>

    <int-kafka:consumer-context id="consumerContext"
                                consumer-timeout="1000"
                                zookeeper-connect="zookeeperConnect" consumer-properties="consumerProperties">
        <int-kafka:consumer-configurations>
            <int-kafka:consumer-configuration group-id="default-consumer"
                                              value-decoder="kafkaDecoder"
                                              key-decoder="kafkaDecoder"
                                              max-messages="5000">
                <int-kafka:topic id="${kafka.topic.asyncNotifyProvoss}" streams="4"/>
            </int-kafka:consumer-configuration>

            <int-kafka:consumer-configuration group-id="default-consumer" executor=""
                                              value-decoder="kafkaDecoder"
                                              key-decoder="kafkaDecoder"
                                              max-messages="5000">
                <int-kafka:topic id="${kafka.topic.asyncCutPayment}" streams="4"/>
            </int-kafka:consumer-configuration>
        </int-kafka:consumer-configurations>
    </int-kafka:consumer-context>
    
    
</beans>